.ReactTable {
  .large-cell {
    max-width: 200px;
  }

  .med-cell {
    max-width: 150px;
  }

  .med-small-cell {
    max-width: 125px;
  }

  .small-cell {
    max-width: 125px;
  }

  .rt-td {
    &.platform-cell {
      font-size: 16px;
      justify-content: center;
    }
  }

  .name-cell {
    min-width: 150px;
  }
}
