@import '../../../styles/colors';

.ReactTable {
  border-color: $table-border;
  color: $main-font;


  .rt-thead {
    &.-header {
      border-bottom: 2px solid $table-border;
      box-shadow: none;
    }

    .rt-th {
      align-items: center;
      border-color: $table-border;
      display: flex;
      font-size: 12px;
      font-weight: bold;
      height: 50px;
      justify-content: space-between;
      white-space: normal;

      &.-sort-desc {
        box-shadow: none;
      }

      &.-sort-asc {
        box-shadow: none;
      }

      &.checkbox-cell {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &.-cursor-pointer {
        cursor: default;
      }

      .table-sort {
        display: flex;
        flex-direction: column;

        .sort-arrow {
          cursor: pointer;

          &.active {
            color: $primary-blue;
            cursor: default;
          }
        }
      }

    }
  }

  .rt-tbody {
    .rt-tr-group {
      border-color: $table-border;
    }

    .rt-td {
      align-items: center;
      border-color: $table-border;
      display: flex;
      font-size: 12px;
      justify-content: flex-start;
      padding: 3px 10px;
      white-space: pre-line;

      &.checkbox-cell {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &.platform-cell {
        font-size: 16px;
        justify-content: center;
      }

      .pub-link > img {
        height: 32px;
        margin-right: 5px;
        max-width: 32px;
      }
    }

  }
}

.rank-change-li {
  span {
    i {
      margin-right: -5px;
    }
  }
}
