<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Great News!</h3>

    <p>You've been invited to join MightySignal. MightySignal provides you with hard-to-get mobile app data right at your fingertips! Simply click the link below and connect through LinkedIn or Google to get started.</p>

    <p><a href="https://mightysignal.com/app/app#/login?token=<%= @user.generate_auth_token %>">Activate your MightySignal Account</a></p>

    <p>To learn how to use the MightySignal platform watch our <a href="https://www.youtube.com/channel/UCXODM_TzoAJscyBeEIqR2og">training videos on YouTube</a>. If you have any questions, please reach out to your MightySignal contact or email us at <a href="mailto:support@mightysignal.com">support@mightysignal.com</a></p>

    <p>Thanks,</p>
    <p>The MightySignal team</p>

    <img src="https://mightysignal.com/app/app/images/mighty_signal_logo.png" height="50"></img>
  </body>
</html>