$main-font: #5d5d5d;

$invalid-text: #9c9c9c;

$primary-blue: #0393dd;
$light-blue: rgba(3, 147, 221, .47);
$white: #fff;
$light-grey-border: #e9e9e9;
$light-grey-background: #f9f9f9;

$link: #303030;

$table-border: #ddd;
