@import './colors';

.dotted-link {
  color: $link;

  &:focus {
    text-decoration-style: dotted;
  }

  &:hover {
    color: $link;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.tooltip-item {
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover {
    text-decoration-style: dotted;
    cursor: default;
  }
}

.invalid {
  color: $invalid-text;
}
