<%= form_tag buttercms_blog_path, method: "get", class: style_class do %>
  <select class="categories" name="category" onchange="this.form.submit();">
    <option value="" selected>Categories</option>
    <% @categories.each do |category| %>
      <% if category.slug == @current_slug %>
        <%= options_for_select([[category.name, category.slug]], @current_slug) %>
      <% else %>
        <%= options_for_select([[category.name, category.slug]]) %>
      <% end %>
    <% end %>
  </select>
<% end %>
