<%= form_tag buttercms_blog_path, method: "get", class: style_class do %>
  <div class="search">
    <input class="search-field" type="search" placeholder="Search blogs" value="<%= @current_search %>" name="search" required>
    <input class="search-btn" type="submit" value="">
  </div>
<% end %>
