<div class="subscribe">
  <h3>Newsletters</br>make you smarter.</h3>
  <%= form_tag subscribe_path, method: "post", class: "header-item" do %>
    <input class="email" type="email" name="email" placeholder="Email Address" required>
    <input class="button" type="submit" value="Subscribe">
  <% end %>
</div>
