<div class="request-demo">
  <h3>The Most Accurate and Real-Time Mobile App Data</h3>
  <button class="button", id="contact-us-button-request_demo" data-toggle="modal" data-target="#webFormModal" type='submit'>Request a Demo</button>
  <%= render 'welcome/web_form_modal'  %>
</div>
