<div class="jumbotron masthead vertical-center" id="large-header">
  <div class="container">
    <canvas id="demo-canvas-blog"></canvas>
    <div class="domain" id="engineer_message">
      <div class="heading">
        <h1>The Mighty Blog</h1>
      </div>
    </div>
  </div>
</div>

