<div class="ad-intel-spinner-ctnr"  ng-if="!appAdIntel.adDataFetchComplete">
  <div id="loadingSpinnerContainer">
    <div class="loading outer">
      <div class="loading inner"></div>
    </div>
  </div>
</div>
<div ng-if="appAdIntel.adDataFetchComplete">
  <div class="empty-data-ctnr" ng-if="!appAdIntel.hasAdData && !appAdIntel.error">
    <img ng-src="images/mighty_signal_elephant.png" alt="">
    No Ad Data
  </div>
  <div class="empty-data-ctnr" ng-if="!appAdIntel.hasAdData && appAdIntel.error">
    <img ng-src="images/mighty_signal_elephant.png" alt="">
    Whoops! There was an error getting ad data for this app. Please try again.
  </div>
  <div ng-if="appAdIntel.hasAdData">
    <div class="ad-intel-row">
      <div class="row-panel">
        <ad-network-panel
          networks="appAdIntel.ad_networks"
        ></ad-network-panel>
      </div>
      <div class="row-panel">
        <ad-summary-panel
          first-seen-date="appAdIntel.first_seen_ads_date"
          last-seen-date="appAdIntel.last_seen_ads_date"
          ad-sdks="appAdIntel.ad_attribution_sdks"
          platform="appAdIntel.platform"
          formats="appAdIntel.creative_formats"
          num-creatives="appAdIntel.number_of_creatives"
          item-id="appAdIntel.id"
          item-type="'app'"
        ></ad-summary-panel>
      </div>
    </div>
    <div class="col-md-12">
      <creative-gallery
        get-creatives-callback="appAdIntel.getCreatives"
        page-size="appAdIntel.creativePageSize"
        networks="appAdIntel.ad_networks"
        formats="appAdIntel.creative_formats"
        total-creatives="appAdIntel.number_of_creatives"
        >
      </creative-gallery>
    </div>
  </div>
</div>
