$headingFontSize: 20px;
$regularFontSize: 14px;

@mixin linearGradient($degree:55deg, $transparency:transparent, $color:#242b31, $colorPercentage:42%, $secondColorPercentage:58px) {
    background: linear-gradient($degree, $transparency, $color $colorPercentage, $color $secondColorPercentage, $transparency);
    background: -moz-linear-gradient($degree, $transparency, $color $colorPercentage, $color $secondColorPercentage, $transparency); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop($transparency), color-stop($colorPercentage, $color), color-stop($secondColorPercentage, $color), color-stop($transparency)); /* safari4+,chrome */
    background: -webkit-linear-gradient($degree, $transparency, $color $colorPercentage, $color $secondColorPercentage, $transparency); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient($degree, $transparency, $color $colorPercentage, $color $secondColorPercentage, $transparency); /* opera 11.10+ */
    background: -ms-linear-gradient($degree, $transparency, $color $colorPercentage, $color $secondColorPercentage, $transparency); /* ie10+ */   
}

.page-signin {
    line-height: normal;
    color: black;
    background-color: white;
    font-size: 16px;
    height: 100vh;

    > * {
        box-sizing: border-box;
        font-size: 7px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.3px;
    }

    img {
        vertical-align: baseline;
    }
    
    img.elephant, img.login-logo {
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }
    
    main#signin-main {
        display: flex;
        min-height: 50vh;
        overflow: hidden;
        > aside#signin-aside {
            padding: 29px 30px 15px;
            min-width: 250px;
            min-height: 100vh;
            flex: 1;
            > section {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            
                max-height: 45%;
                > div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0 7.5%;
                    margin-top: 16.0vh;
                    margin-bottom: -5px;
                    p {
                        margin-left: 1px;
                        margin-bottom: 1.5vh;
                        margin-top: 1em;
                        font-size: 1.43vw;
                        letter-spacing: 0.27px;
                    }
                    > p {
                        &:last-child {
                            bottom: -14px;
                            font-size: 1.22vw;
                            position: relative;
                        }
                        > a {
                            font-size: 1.22vw;
                            color: #0393dd;
                        }
                    }
                    fieldset > div.form-group {
                        margin-bottom: 0.75vw;
                        input, button, span.input-group-addon {
                            height: 3.6vw;
                        }
                    }
                }
                > .login-logo {
                    margin-left: -3px;
                    width: 12.6vw;
                    min-width: 12.6vw;
                }
            }
        }
    }

    button.signin-button {
        padding: 0;
        margin-bottom: 0.75vw;
    
        width: 99%;
        height: 3.6vw;
    
        border: 0;
        border-radius: 0.3vh;
    
        font-size: 1.2vw;
    
        color: white;
        background-color: #2db6d8;
        &:hover {
            cursor: pointer;
            background-color: #209ab8;
        }
        > i {
            left: -6px;
            font-size: 1.4vw;
            position: relative;
        }
    }

    main#signin-main > section {
        height: auto;
    
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 2;
        
        background-color: #242b31;
    
        overflow: hidden;
        position: relative;
        > .bg {
            position: absolute;
        
            width: 65%;
            height: 50%;
            max-width: 142vh;
        
            z-index: 1;
        }
    
        > .bg-top {
            top: 0;
            right: 0;
        }
    
        > .bg-bottom {
            left: 0;
            bottom: 0;
        }
        
        > .elephant {
            top: -11.4vh;
            left: 5.3vh;
            align-self: center;
            width: 65.5vmin;
            height: 63.5vmin;
            max-width: 80%;
            position: relative;
            z-index: 10;
        }
    
        > .particles {
            position: absolute;
            width: 100%;
            height: 100%;
    
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
    
                pointer-events: none;
    
                @include linearGradient;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='transparent',GradientType=1 ); /* ie6-9 */
            }
        }
    }

    @media screen and (max-width: 1258px) {
        main#signin-main > aside#signin-aside > section > div fieldset > div.form-group {
            .input-group-addon {
                height: auto;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        main#signin-main {
            display: block;
            > section {
                display: none;
            }
    
            > aside#signin-aside {
                max-width: 80%;
                padding: 5vh 0 0;
                margin: 0 auto;
                > section {
                    > .login-logo {
                        width: 35vw;
                        min-width: 0;
                    }
    
                    > div {
                        width: 90%;
                        margin: 2vh auto 0;
                        fieldset > div.form-group {
                            margin-bottom: 10px;
                            input, button {
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    
        button.signin-button {
            margin-bottom: 10px;
            height: 50px;
            font-size: 18px;
            > i {
                font-size: $headingFontSize;
            }
        }
    
        main#signin-main > aside#signin-aside > section > div {
            p, > p > a, p:last-child {
                font-size: $headingFontSize;
            }
        }
    }
    
    @media screen and (max-width: 430px) {
        main#signin-main {
            > aside#signin-aside {
                padding-top: 29px;
                section > .login-logo {
                    width: 150px;
                    min-width: 0;
                }
            }
        }
        
        button.signin-button {
            margin-bottom: 10px;
            height: 50px;
            font-size: $regularFontSize;
        }
    
        button.signin-button > i {
            font-size: $regularFontSize;
        }

        main > aside > section > div {
            p, > p > a, > p:last-child {
                font-size: $regularFontSize;
            }
        }
    }

    @media screen and (max-height: 410px) {
        main#signin-main > aside#signin-aside > section > div > p {
            margin-top: 5px;
        }
    }
}
