<div class="panel panel-default" data-ng-controller="IosLiveScanCtrl as iosLiveScanCtrl">
  <div class="panel-heading sdk-panel-header">
    <strong>SDKs</strong>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <ul class="list-unstyled list-info" ng-if="!iosLiveScanCtrl.sdkLiveScanPageLoading">
          <li id="appPageSdkScanStatus" ng-if="iosLiveScanCtrl.noSdkData || iosLiveScanCtrl.sdkQueryInProgress">
            <div id="sdkScanErrorMessage">
              <h5 class="sdkScanGeneralInfo" ng-if="!iosLiveScanCtrl.failedLiveScan"><em>Note: We are currently live scanning the SDKs. This may take 2-3 minutes.</em></h5>
              <h5 class="sdkScanGeneralInfo" ng-if="iosLiveScanCtrl.failedLiveScan"><strong>{{iosLiveScanCtrl.scanErrorMessage}}</strong></h5>
            </div>
            <div data-ng-show="iosLiveScanCtrl.sdkQueryInProgress">
              <uib-progressbar class="progress-striped active" max="100" value="iosLiveScanCtrl.scanStatusPercentage" type="primary"></uib-progressbar>
              <p>{{iosLiveScanCtrl.scanStatusMessage}}</p>
            </div>
          </li>
          <li id="showSdksButtonLi" ng-if="!iosLiveScanCtrl.sdkQueryInProgress && !iosLiveScanCtrl.hideLiveScanButton && canViewSdks && canViewIosLiveScan">
            <div id="showSdksButtonTitle" ng-show="!iosLiveScanCtrl.failedLiveScan">
              <ul class="scan-date">
                <li>
                  <span class="scan-date-title">
                    Latest Update:
                  </span>
                  {{app.lastUpdated | date : 'shortDate'}}
                </li>
                <li>
                  <span class="scan-date-title">
                    Latest SDK Scan:
                  </span>
                  {{iosLiveScanCtrl.sdkData.lastUpdated ? (iosLiveScanCtrl.sdkData.lastUpdated | date : 'shortDate') : "None"}}
                </li>
                <li>
                  <div id="showSdksButton">
                    <button type="submit" class="btn btn-primary btn-block" ng-show="iosLiveScanCtrl.sdkData && iosLiveScanCtrl.sdkData.liveScanEnabled" ng-click="iosLiveScanCtrl.getSdks(iosLiveScanCtrl.app.id)">Live Scan</button>
                    <button type="submit" class="btn btn-block disabled" ng-hide="iosLiveScanCtrl.sdkData && iosLiveScanCtrl.sdkData.liveScanEnabled">Live Scan Temporarily Unavailable</button>
                  </div>
                </li>
                <li id="live-scan-hint-li">
                  <a href="http://support.mightysignal.com/article/54-livescan" target="_blank">
                    <span class="fa fa-question-circle live-scan-hint" tooltip-class="help-tooltip" tooltip-append-to-body="true" tooltip-placement="auto right" uib-tooltip="How To Use Live Scan"></span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li ng-if="(!canViewSdks || !canViewIosLiveScan) && iosLiveScanCtrl.noSdkSnapshot && iosLiveScanCtrl.sdkData.errorCode == null">
            <div style="text-align:center">
              <strong>App Has Not Been Scanned</strong>
            </div>
          </li>

          <li id="sdkScanErrorCodeStatus" ng-if="iosLiveScanCtrl.sdkData.errorCode != null">
            <strong>{{iosLiveScanCtrl.errorCodeMessage}}</strong>
          </li>

          <li id="sdkLiveScanDisplay" class="iosSdkLiveScanDisplay" ng-show="iosLiveScanCtrl.sdkData && !iosLiveScanCtrl.noSdkSnapshot">
            <div class="sdksListView">
              <div class="row">
                <div class="col-md-6" ng-hide="!iosLiveScanCtrl.sdkData.installedSdksCount">
                  <h4>Installed SDKs <span class="liveScanSdksCountDisplay">({{iosLiveScanCtrl.sdkData.installedSdksCount}})</span></h4>
                  <div ng-repeat="sdkTag in iosLiveScanCtrl.sdkData.installedSdks">
                    <strong class="sdk-tag">{{sdkTag.name}}</strong>
                    <ul ng-show="sdkTag.sdks">
                      <li class="sdkLiveScanDisplayList" ng-repeat="sdk in sdkTag.sdks">
                        <div class="sdkLiveScanDisplayIconSection">
                          <img ng-src="{{sdk['favicon']}}" ng-show="sdk['favicon']">
                          <i class="fa fa-circle" ng-hide="sdk['favicon']"></i>
                        </div>
                        <div class="sdkLiveScanDisplayTitleSection">
                          <span ng-if="canViewStorewideSdks">
                            <a href="#/sdk/ios/{{sdk['id']}}" ng-show="{{sdk['id']}}">{{sdk['name']}}</a>
                            <strong ng-hide="sdk['id']">{{sdk['name']}}</strong>
                            <span
                              class="sdkLiveScanInstallDate" ng-if="sdk['first_seen_date']"
                              uib-tooltip="{{sdk['first_seen_date'] | date : shortDate}}"
                              title="installed on {{sdk['first_seen_date'] | date : shortDate}}"
                            >
                              installed <strong>{{iosLiveScanCtrl.calculateDaysAgo(sdk['first_seen_date'])}}</strong> ago
                            </span>
                          </span>
                          <span ng-if="!canViewStorewideSdks">
                            <a href="{{sdk['website']}}" ng-show="{{sdk['website']}}" target="_blank">{{sdk['name']}}</a>
                            <strong ng-hide="sdk['website']">{{sdk['name']}}</strong>
                            <span
                              class="sdkLiveScanInstallDate" ng-if="sdk['first_seen_date']"
                              uib-tooltip="{{sdk['first_seen_date'] | date : shortDate}}"
                              title="installed on {{sdk['first_seen_date'] | date : shortDate}}"
                            >
                              installed <strong>{{iosLiveScanCtrl.calculateDaysAgo(sdk['first_seen_date'])}}</strong> ago
                            </span>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 sdkOpenSourceSection" ng-hide="!iosLiveScanCtrl.sdkData.uninstalledSdksCount">
                  <h4>Uninstalled SDKs <span class="liveScanSdksCountDisplay">({{iosLiveScanCtrl.sdkData.uninstalledSdksCount}})</span></h4>
                  <div ng-repeat="sdkTag in iosLiveScanCtrl.sdkData.uninstalledSdks">
                    <strong class="sdk-tag">{{sdkTag.name}}</strong>
                    <ul ng-show="sdkTag.sdks">
                      <li class="sdkLiveScanDisplayList" ng-repeat="sdk in sdkTag.sdks">
                        <div class="sdkLiveScanDisplayIconSection">
                          <img ng-src="{{sdk['favicon']}}" ng-show="sdk['favicon']">
                          <i class="fa fa-github" ng-hide="sdk['favicon']"></i>
                        </div>
                        <div class="sdkLiveScanDisplayTitleSection">
                          <span ng-if="canViewStorewideSdks">
                            <a href="#/sdk/ios/{{sdk['id']}}" ng-show="{{sdk['id']}}">{{sdk['name']}}</a>
                            <strong ng-hide="sdk['id']">{{sdk['name']}}</strong>
                            <span
                              class="sdkLiveScanUninstallDate" ng-if="sdk['first_unseen_date']"
                              title="uninstalled on {{sdk['first_unseen_date'] | date : shortDate}}"
                              uib-tooltip="{{sdk['first_unseen_date'] | date : shortDate}}"
                            >
                              uninstalled <strong>{{iosLiveScanCtrl.calculateDaysAgo(sdk['first_unseen_date'])}}</strong> ago
                            </span>
                          </span>
                          <span ng-if="!canViewStorewideSdks">
                            <a href="{{sdk['website']}}" ng-show="{{sdk['website']}}" target="_blank">{{sdk['name']}}</a>
                            <strong ng-hide="sdk['website']">{{sdk['name']}}</strong>
                            <span
                              class="sdkLiveScanUninstallDate"
                              ng-if="sdk['first_unseen_date']"
                              title="uninstalled on {{sdk['first_unseen_date'] | date : shortDate}}"
                              uib-tooltip="{{sdk['first_unseen_date'] | date : shortDate}}"
                            >
                              uninstalled <strong>{{iosLiveScanCtrl.calculateDaysAgo(sdk['first_unseen_date'])}}</strong> ago
                            </span>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li id="no-sdks-message" ng-if="iosLiveScanCtrl.noSdkSnapshot && iosLiveScanCtrl.sdkData.lastUpdated && iosLiveScanCtrl.sdkData.errorCode == null">
            <div style="text-align:center">
              <strong>No SDKs in App</strong>
            </div>
          </li>

          <!--
          <li>
            <div style="text-align:center">
              <strong>SDK Live Scans are currently being updated - please check back later.</strong>
            </div>
          </li>
          -->

        </ul>

        <div id="wrap_spinner" ng-if="iosLiveScanCtrl.sdkLiveScanPageLoading">
          <div class="loading outer">
            <div class="loading inner"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<aside><helpVideo></helpVideo></aside>
