<script type="text/ng-template" id="userBaseTemplate.html">
  <ul class="international-data">
    <li ng-repeat="row in app.userBases">
      <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
      <span class="country">{{row.country}}:</span>
      <span>{{row.user_base | capitalize}}</span>
    </li>
  </ul>
</script>
<script type="text/ng-template" id="ratingTemplate.html">
  <ul class="international-data">
    <li ng-repeat="row in app.ratings">
      <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
      <span class="country">{{row.country}}:</span>
      <span>{{row.rating}} of 5</span>
    </li>
  </ul>
</script>
<script type="text/ng-template" id="ratingsCountTemplate.html">
  <ul class="international-data">
    <li ng-repeat="row in app.ratings">
      <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
      <span class="country">{{row.country}}:</span>
      <span>{{row.ratings_count | number}}</span>
    </li>
  </ul>
</script>
<script type="text/ng-template" id="appStoresTemplate.html">
  <ul class="international-data">
    <li ng-repeat="row in app.appStores.availableIn">
      <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
      <span class="country">{{row.name}}</span>
    </li>
  </ul>
</script>
<script type="text/ng-template" id="permissionsPopover.html">
  <div class="popover-scroll">
    <ul class="international-data">
      <li ng-repeat="permission in app.permissions">{{permission.display}}</li>
    </ul>
  </div>
</script>
