a.list-item alt="#{item.name}" href="#{path}" target="#{target}"
  = image_tag "https://ui-avatars.com/api/?background=64c5e0&color=fff&name=#{item.name.parameterize}", size: '50', class: 'app-img', alt: item.name
  span.app-name #{item.name}
