/* line 9, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
.container#contact {
    position: relative;
}
/* line 12, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
.container#contact img#techstars_logo {
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 30px;
}

/* line 21, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
#submit_contact_btn {
    border-radius: 5px;
    padding: 12px 23px;
}

/* line 27, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
#demo-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* line 34, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
#engineer_message h1 {
    font-weight: 100;
}
/* line 37, /Users/patrickellis/Documents/MightySignal/varys/app/assets/stylesheets/index.css.scss */
#engineer_message h3 {
    font-weight: 100;
}

form .form-group {
    margin-bottom: 10px;
}

#features img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 250px;
}

#features .caption h4 {
    margin-bottom: 0px;
    margin-top: 5px;
}

#features p.teamMemberTitle {
    margin-bottom: 8px;
}