<div id="appPage">
    <div class="col-md-6 info-column">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Ad Tech</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li id="sdkLiveScanDisplay">
                  <div class="sdksListView">
                    <div class="row">
                      <div class="col-md-6" ng-if="app.ad_sources.length">
                        <h4>
                          Ad Networks
                          <span>({{app.ad_sources.length}})</span>
                        </h4>
                        <ul>
                          <li class="sdkLiveScanDisplayList" ng-repeat="network in app.ad_sources">
                            <div class="sdkLiveScanDisplayIconSection">
                              <img ng-src="{{'/app/app/images/' + network.id + '.png'}}" fallback-src="network.icon">
                            </div>
                            <div class="sdkLiveScanDisplayTitleSection">
                              <strong>{{network.name}}</strong>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h4>
                          Ad Attribution SDKs
                          <span>({{app.ad_attribution_sdks.length}})</span>
                        </h4>
                        <ul>
                          <li class="sdkLiveScanDisplayList" ng-repeat="sdk in app.ad_attribution_sdks">
                            <div class="sdkLiveScanDisplayIconSection">
                              <img ng-src="{{sdk.favicon}}" ng-if="sdk.favicon">
                              <i class="fa fa-circle" ng-hide="sdk.favicon"></i>
                            </div>
                            <div class="sdkLiveScanDisplayTitleSection">
                              <span ng-if="canViewStorewideSdks">
                                <a ng-href="#/sdk/{{app.platform}}/{{sdk['id']}}" ng-show="{{sdk['id']}}">{{sdk['name']}}</a>
                                <strong ng-hide="sdk['id']">{{sdk['name']}}</strong>
                                <span
                                class="sdkLiveScanInstallDate" ng-if="sdk['first_seen_date']"
                                uib-tooltip="{{sdk['first_seen_date'] | date : shortDate}}"
                                title="installed on {{sdk['first_seen_date'] | date : shortDate}}"
                                >
                                installed <strong>{{app.calculateDaysAgo(sdk['first_seen_date'])}}</strong> ago
                              </span>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 info-column">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Ad Data</strong></div>
      <div class="panel-body">
        <div class="media">
          <div class="media-body">
            <ul class="list-unstyled list-info">
              <li>
                <span class="icon fa fa-exclamation-circle"></span>
                <label>First Seen Ads:</label>
                {{app.first_seen_ads_date | date : shortDate}}
              </li>
              <li>
                <span class="icon fa fa-bullhorn"></span>
                <label>Last Seen Ads:</label>
                {{app.last_seen_ads_date | date : shortDate}}
              </li>
              <li>
                <span class="icon fa fa-film"></span>
                <label>Formats Seen:</label>
                <span ng-repeat="format in app.ad_formats">
                  <i class="{{'fa fa-' + format.icon + ' fa-fw'}}" uib-tooltip="{{format.name}}"></i>
                </span>
              </li>
              <li>
                <span class="icon fa fa-bar-chart"></span>
                <label>Num Creatives:</label>
                {{app.facebookAds.length}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
      <div class="panel panel-default" ng-if="app.facebookAds.length && canViewAdSpend">
        <div class="panel-heading"><strong>Creative Gallery</strong></div>
        <div class="panel-body">
          <div class="col-md-6">
            <div class="carousel-container">
              <uib-carousel active="app.activeSlide" interval="app.slideInterval" no-wrap="app.noWrapSlides" id="adIntelligenceCarousel">
                <uib-slide ng-repeat="ad in app.facebookAds" index="ad.id">
                  <div class="ad-container">
                    <img
                    smart-src="{{ad.ad_image}}"
                    smart-src-id={{ad.id}}
                    smart-src-watch="app.activeSlide"
                    smart-src-last="{{app.facebookAds.length - 1}}"
                    ng-class="{'ad-slide': ad.ad_info_image, 'single-ad-slide': !ad.ad_info_image}"
                    onerror="this.onerror = null; this.src = 'https://assetscdn.paytm.com/images/catalog/product/9/97/9788123923154_23843/0x1920/70/0.jpg'">
                    <img
                    ng-if="ad.ad_info_image"
                    smart-src="{{ad.ad_info_image}}"
                    smart-src-id="{{ad.id}}"
                    smart-src-watch="app.activeSlide"
                    smart-src-last="{{app.facebookAds.length - 1}}"
                    class="ad-slide">
                  </div>
                </uib-slide>
              </uib-carousel>
            </div>
            <ul class="list-unstyled list-info">
              <li>
                <span class="icon fa fa-cloud"></span>
                <label>Network:</label>
                Facebook
              </li>
              <li>
                <span class="icon fa fa-film"></span>
                <label>Format:</label>
                Facebook News Feed
              </li>
              <li>
                <span class="icon fa fa-calendar-check-o"></span>
                <label>Date Seen:</label>
                {{app.activeCreative.date_seen | date : shortDate}}
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <table class="table table-striped table responsive table-hover">
              <thead>
                <tr>
                  <th>Preview</th>
                  <th>Network</th>
                  <th>First Seen</th>
                  <th>Last Seen</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ad in app.tableCreatives" ng-click="app.changeActiveCreative(ad)" class="creative-table-row" ng-class="{'active': app.activeSlide == ad.id}">
                  <td class="thumbnail-cell creative-cell">
                    <img class="creative-thumbnail" ng-src="{{ad.ad_image}}">
                  </td>
                  <td class="creative-cell">
                    <img src="/app/app/images/facebook.png" width="16px" height="16px">
                    Facebook
                  </td>
                  <td class="creative-cell">{{ad.date_seen | date : shortDate}}</td>
                  <td class="creative-cell">{{ad.date_seen | date : shortDate}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row" ng-if="app.facebookAds.length > 10">
              <div class="col-md-12 text-right pagination-container">
                <uib-pagination
                  class="pagination-sm"
                  ng-model="app.currentCreativesPage"
                  total-items="app.facebookAds.length"
                  max-size="5"
                  ng-change="app.populateCreativesTable()"
                  items-per-page="10"
                  rotate="false"
                  boundary-links="app.facebookAds.length > 50">
                </uib-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
