<div class="slider single-item slick-initialized slick-slider">
  <div class="slick-list draggable" tabindex="0">
    <div class="slick-track" style="opacity: 1; width: 4480px; transform: translate3d(-560px, 0px, 0px);">
      <div class="slick-slide slick-cloned" index="-1" style="width: 560px;">
        <h3>6</h3>
      </div>
      <div class="slick-slide slick-active" index="0" style="width: 560px;"><h3>1</h3></div><div class="slick-slide" index="1" style="width: 560px;"><h3>2</h3></div><div class="slick-slide" index="2" style="width: 560px;"><h3>3</h3></div><div class="slick-slide" index="3" style="width: 560px;"><h3>4</h3></div><div class="slick-slide" index="4" style="width: 560px;"><h3>5</h3></div><div class="slick-slide" index="5" style="width: 560px;"><h3>6</h3></div><div class="slick-slide slick-cloned" index="6" style="width: 560px;"><h3>1</h3></div></div></div>
					
					
					
					
					
				<button type="button" data-role="none" class="slick-prev" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" style="display: block;">Next</button><ul class="slick-dots" style="display: block;"><li class="slick-active"><button type="button" data-role="none">1</button></li><li class=""><button type="button" data-role="none">2</button></li><li class=""><button type="button" data-role="none">3</button></li><li><button type="button" data-role="none">4</button></li><li><button type="button" data-role="none">5</button></li><li><button type="button" data-role="none">6</button></li></ul></div>