| $('#sdkModal .modal-body').html("#{j render("sdks/tagged_sdks", response: @sdks)}");
| $('#sdkModal .modal-title').html("#{@app.top_200_rank}. #{@app.name}");
| $('#sdkModal .modal-header .pull-right a').attr('href', "https://itunes.apple.com/us/app/id#{@app.app_identifier}")