.col-xs-2
.col-xs-8
  %h3 Curious to see what services another company is using? Just input a URL below, and MightySignal will do a live inspection of the site!
= form_tag nil, method: "post", id: "services-form"  do
  .row
    .col-xs-4
    .col-xs-4.center-block
      = text_field_tag :url, "", id: "services-url-tag"
  .row
    .col-xs-4
    .col-xs-4.center-block
      .text-center
        = submit_tag "Submit", id: "servicesSubmitButton"
#progressBar
  %div
#servicesUsing