.col-xs-1
.col-xs-10
  %h4#curious.text-center 
    Curious to see what services another company is using? 
    %br 
    Just input a URL below, and MightySignal will do a live inspection of the site!
= form_tag nil, method: "post", id: "services-form"  do
  .row
    .col-xs-4
    .col-xs-4.center-block
      = text_field_tag :url, "", id: "services-url-tag"
  .row
    .col-xs-4
    .col-xs-4.center-block
      .text-center
        = submit_tag "Find Services", id: "servicesSubmitButton", class: "btn-primary"
.row
  #progressBar
    %div
.row
  .col-xs-4
  .col-xs-4
    #servicesUsing