%h3 Curious to see what services another company is using? Just input a URL below, and MightySignal will do a live inspection of the site!
= form_tag nil, method: "post", id: "services-form"  do
  .row
    .small-4
    .small-4.large-centered.columns.end 
      = text_field_tag :url
  .row
    .small-4
    .small-4.large-centered.columns.end 
      .text-center
        = submit_tag "Submit", id: "servicesSubmitButton"
#progressBar
  %div
#servicesUsing