.row
  .small-4
  .small-4.large-centered.columns.end
    %h4.text-center Enter a URL to test:
= form_tag url_search_result_path, :method => "post" do
  .row
    .small-4
    .small-4.large-centered.columns.end 
      = text_field_tag :url
  .row
    .small-4
    .small-4.large-centered.columns.end 
      .text-center
        = submit_tag "Submit"