<div id="adminPage" data-ng-controller="AdminCtrl as adminCtrl">
  <div id="wrap_spinner" ng-if="!initialPageLoadComplete">
    <div class="loading outer">
      <div class="loading inner"></div>
    </div>
  </div>

  <div ng-if="initialPageLoadComplete">
    <div class="row adminPageRow">
      <div ng-hide="accountId">
        {{$scope.accountId}}
        <h4 class="page-title">Admin</h4>
        <div ng-if="$root.isAdminAccount" class="admin-setup">
          <strong>Setup new accounts</strong>
          <form id="create-account" class="form-inline" name="accountForm">
            <div class="form-group">
              <label class="sr-only" for="name">Account name</label>
              <input type="text" class="form-control" id="name" placeholder="Account name" ng-model="account.name">
            </div>
            <button type="submit" class="btn btn-default" ng-click="createAccount(account, accountForm)">Create account</button>
          </form>
          <strong>Add SDKs to Timelines</strong>
          <div>
            <span class="ui-select">
              <select ng-model="adminCtrl.sdkPlatform">
                <option value="ios">iOS</option>
                <option value="android">Android</option>
              </select>
            </span>
            <angucomplete-alt id="sdk-autocomplete-filter"
                             placeholder="SDK name"
                             pause="100"
                             selected-object="selectedSdk"
                             remote-url="{{sdkAutocompleteUrl()}}"
                             remote-url-data-field="results"
                             search-fields="name"
                             title-field="name"
                             id-field="id"
                             clear-selected="true"
                             image-field="favicon"
                             minlength="1"
                             input-class="form-control form-control-small autocomplete-filter"  ng-hide="filter.sdk">
            </angucomplete-alt>
            <div class="ui-tags-input" ng-if="sdks.length">
              <ul class="tags">
                <li ng-repeat="sdk in sdks" class="tag-item">
                  {{sdk.name}} - {{sdk.platform}}
                  <a class="remove-button" ng-click="removeSdk($index)">×</a>
                </li>
              </ul>
            </div>
            <p ng-if="sdks.length > 0 && !sdkFollowers.length">
              <br>
              Select some users by using the checkbox next to their name
            </p>
            <p ng-if="sdks.length > 0 && sdkFollowers.length">
              <br>
              <button type="submit" class="btn btn-primary" ng-click="followSDKs()">Add {{sdks.length}} {{sdks.length == 1 ? 'SDK' : 'SDKs'}} to the Timeline of {{sdkFollowers.length}} {{sdkFollowers.length == 1 ? "user/account" : "users/accounts"}}</button>
            </p>
          </div>
        </div>
        <br>
      </div>
      <div data-ng-repeat="account in accounts" ng-init="accountIndex = $index" class="panel panel-default">
        <div class="panel-heading" ng-click="loadUsers($index); account.isCollapsed = !account.isCollapsed;">
          <label ng-if="sdks.length > 0">
            <input type="checkbox" ng-click="checkedSdkFollower(account); $event.stopPropagation();">
          </label>
          {{account.id}}. {{account.name}}
          <span ng-if="$root.isAdminAccount" class="pull-right {{account.active_users > account.seats_count ? 'red' : ''}}">
            {{account.active_users}} {{account.active_users == 1 ? 'User' : 'Users'}} / {{account.seats_count}} Seats
          </span>
          <span ng-if="!$root.isAdminAccount" class="pull-right">
            {{account.active_users}} {{account.active_users == 1 ? 'User' : 'Users'}}
          </span>
        </div>
        <div class="panel-body" uib-collapse="account.isCollapsed">
          <div class="media">
            <div class="media-body" ng-hide="account.isLoading">
              <button type="submit" class="btn btn-primary pull-right microsoft-btn" ng-if="account.id == 1" ng-click="exportToCsv()">Download Microsoft CSV</button>
              <button type="submit" class="btn btn-primary pull-right" ng-click="openTokenModal(account.id)">API Tokens</button>
              <strong ng-if="$root.isAdminAccount">Account Settings</strong>
              <div class="checkbox" ng-if="$root.isAdminAccount">
                <label>
                  <input type="checkbox" ng-checked="account.can_view_ad_spend" ng-click="settingChanged('can_view_ad_spend', account)">Ad Spend
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_view_ad_attribution" ng-click="settingChanged('can_view_ad_attribution', account)">Ad Attribution
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_view_sdks" ng-click="settingChanged('can_view_sdks', account)"> SDKs
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_view_storewide_sdks" ng-click="settingChanged('can_view_storewide_sdks', account)"> Storewide SDKs
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_view_exports" ng-click="settingChanged('can_view_exports', account)"> Exports
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_view_ios_live_scan" ng-click="settingChanged('can_view_ios_live_scan', account)"> iOS Live Scan
                </label>
                <label>
                  <input type="checkbox" ng-checked="account.can_use_salesforce" ng-click="settingChanged('can_use_salesforce', account)"> Salesforce
                </label>
                <label class="select">
                  <select ng-model="account.seats_count" ng-options="i for i in range(50)" ng-change="settingChanged('seats_count', account, i)">
                  </select>
                  Seats
                </label>
              </div>
              <div class="salesforce-integration" ng-if="account.can_use_salesforce">
                <strong>Salesforce Integration</strong>
                <p>Use MightySignal data in Salesforce! Our Salesforce integration will require a Salesforce account with admin privileges.
                <div class="salesforce">
                  <a ng-hide="account.salesforce_connected" ng-click="authenticate('salesforce', account)" class="btn btn-primary">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    Connect Salesforce
                  </a>
                  <a ng-hide="account.salesforce_connected" ng-click="authenticate('salesforce_sandbox', account)" class="btn btn-warning">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    Connect Salesforce Sandbox
                  </a>
                  <a ng-show="account.salesforce_connected" class="btn btn-primary disabled">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    Salesforce Connected
                  </a>
                </div>
              </div>
              <strong ng-if="account.following.length">Following</strong>
              <div class="ui-tags-input" ng-if="account.following.length">
                <ul class="tags">
                  <li ng-repeat="follow in account.following" class="tag-item">
                    {{follow.name}} - {{follow.platform}}
                  </li>
                </ul>
              </div>
              <br>
              <strong>Users</strong>
              <br>
              <br>
              <table class="table table-striped table-responsive table-bordered">
                <thead>
                  <tr>
                    <th><div class="th normal-right-padding">

                      Email
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Created
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Activity
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Linked Accounts
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Following
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Deactivated?
                    </div></th>
                    <th><div class="th normal-right-padding">
                      Admin?
                    </div></th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="user in account.users track by $index">
                    <td>
                      <label ng-if="sdks.length > 0">
                        <input type="checkbox" ng-click="checkedSdkFollower(user)">
                      </label>
                      {{user.email}}
                      <br>
                      <a ng-if="$root.isAdminAccount" href="javascript:void(0)" class="btn btn-default resend-btn" ng-click="resendInvite(user)">Resend Invite</a>
                    </td>
                    <td>
                      {{calculateDaysAgo(user.created_at)}}
                    </td>
                    <td>
                      <ul class="activity">
                        <li ng-repeat="activity in user.engagement" ng-if="$root.isAdminAccount || activity.name == 'any'">
                          {{activity.name}}
                          <a class="pull-right status {{lastUsedClass(activity.last_used)}}" target="_blank" href="{{activity.link}}" data-toggle="tooltip" data-placement="top" uib-tooltip="Last used {{calculateDaysAgo(activity.last_used)}}">test</a>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <span ng-if="user.profile_url">
                         <a ng-href="{{user.profile_url}}">{{user.first_name}} {{user.last_name}}</a>
                      </span>
                      <span ng-hide="user.profile_url">
                        <span ng-if="user.google_uid">Google</span>{{user.google_uid && user.linkedin_uid ? ', ' : ''}}
                        <span ng-if="user.linkedin_uid">LinkedIn</span>
                      </span>
                      <br>
                      <a ng-if="$root.isAdminAccount && (user.linkedin_uid || user.google_uid)" href="javascript:void(0)" class="btn btn-default resend-btn" ng-click="unlinkAccounts(accountIndex, $index)">Unlink Accounts</a>
                    </td>
                    <td>
                      {{user.following_count}}
                    </td>
                    <td>
                      <label>
                        <input type="checkbox" ng-checked="user.access_revoked" ng-click="settingChanged('access_revoked', user)">
                      </label>
                    </td>
                    <td>
                      <label>
                        <input type="checkbox" ng-checked="user.is_admin" ng-click="settingChanged('is_admin', user)">
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="7">
                      <form novalidate class="form-inline" name="userForm">
                        <div class="form-group">
                          <label class="sr-only" for="email">Email address</label>
                          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="createUser(user, account, userForm)">Invite user</button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div data-ng-show="account.isLoading && !account.users" id="wrap_spinner">
              <div class="loading outer">
                <div class="loading inner"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<aside ng-include="'/app/app/views/modals/api-token.html'"></aside>
