<div class="panel panel-default" data-ng-controller="AndroidLiveScanCtrl as androidLiveScanCtrl">
  <div class="panel-heading"><strong>SDKs</strong></div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <ul class="list-unstyled list-info">

          <!--
          <div style="text-align:center">
            <strong>SDK Live Scans are currently being updated - please check back later.</strong>
          </div>
          -->

          <div style="text-align:center" ng-if="androidLiveScanCtrl.displayStatus == 'taken_down'">
            <strong>App is no longer listed in the app store - no SDK Live Scan available.</strong>
          </div>

          <div style="text-align:center" ng-if="androidLiveScanCtrl.displayStatus == 'foreign'">
            <strong>App is not in the U.S. store - no SDK Live Scan available.</strong>
          </div>

          <div style="text-align:center" ng-if="androidLiveScanCtrl.displayStatus == 'device_incompatible'">
            <strong>SDK Live Scan is temporarily unavailable for this app.</strong>
          </div>

          <li ng-show="androidLiveScanCtrl.sdkData && androidLiveScanCtrl.sdkData.errorCode == 0 && androidLiveScanCtrl.displayStatus == 'normal' && !androidLiveScanCtrl.noSdkSnapshot" id="sdkLiveScanDisplay">
            <div class="sdksListView">
              <div class="row">
                <div class="col-md-6" ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkCompanies) && isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkCompanies)">
                  <strong ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkCompanies)">SDK Companies</strong>
                  <ul ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkCompanies)">
                    <li ng-repeat="(sdkCompName, sdkValue) in androidLiveScanCtrl.sdkData.sdkCompanies">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="#/sdk/android/{{subSdk['id']}}" ng-show="{{subSdk['id']}}">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                    </li>
                  </ul>
                  <strong ng-hide="isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkCompanies)">Uninstalled SDK Companies</strong>
                  <ul ng-hide="isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkCompanies)">
                    <li ng-repeat="(sdkCompName, sdkValue) in androidLiveScanCtrl.sdkData.uninstalledSdkCompanies">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="#/sdk/android/{{subSdk['id']}}" ng-show="{{subSdk['id']}}">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 sdkOpenSourceSection" ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkOpenSource) && isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkOpenSource)">
                  <strong ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkOpenSource)">Open-Source SDKs</strong>
                  <ul ng-hide="isEmpty(androidLiveScanCtrl.sdkData.sdkOpenSource)">
                    <li ng-repeat="(sdkCompName, sdkValue) in androidLiveScanCtrl.sdkData.sdkOpenSource">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-github" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="#/sdk/android/{{subSdk['id']}}" ng-show="{{subSdk['id']}}">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                    </li>
                  </ul>
                  <strong ng-hide="isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkOpenSource)">Uninstalled Open-Source SDKs</strong>
                  <ul ng-hide="isEmpty(androidLiveScanCtrl.sdkData.uninstalledSdkOpenSource)">
                    <li ng-repeat="(sdkCompName, sdkValue) in androidLiveScanCtrl.sdkData.uninstalledSdkOpenSource">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="#/sdk/android/{{subSdk['id']}}" ng-show="{{subSdk['id']}}">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                        <ul ng-if="sdkValue['children']">
                          <li ng-repeat="subSdk in sdkValue['children']">
                            <img ng-src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                            <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                          </li>
                        </ul>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!--
          <li>
            <div style="text-align:center">
              <strong>SDK Live Scans are currently being updated - please check back later.</strong>
            </div>
          </li>
          -->

          <li id="appPageSdkScanStatus" ng-if="androidLiveScanCtrl.noSdkData && androidLiveScanCtrl.displayStatus == 'normal' || androidLiveScanCtrl.sdkQueryInProgress && androidLiveScanCtrl.displayStatus == 'normal'">
            <div id="sdkScanErrorMessage" ng-show="androidLiveScanCtrl.noSdkData">
              <h5><strong>{{androidLiveScanCtrl.sdkData.errorMessage}}</strong></h5>
            </div>
            <div data-ng-show="androidLiveScanCtrl.sdkQueryInProgress" id="wrap_spinner">
              <div class="loading outer">
                <div class="loading inner"></div>
              </div>
              <p>Scanning - this may take a minute.</p>
            </div>
          </li>
          <li id="showSdksButtonLi" ng-if="!androidLiveScanCtrl.sdkQueryInProgress && androidLiveScanCtrl.displayStatus == 'normal'">
            <div id="showSdksButtonTitle" ng-show="androidLiveScanCtrl.sdkData.lastUpdated">
              Last Scanned on {{androidLiveScanCtrl.sdkData.lastUpdated | date : 'shortDate'}}
            </div>
            <div id="showSdksButton">
              <button type="submit" class="btn btn-primary btn-block" ng-click="androidLiveScanCtrl.getSdks()">Live Scan</button>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
