<div id="appPage" data-ng-controller="ListCtrl">

  <header class="page-main-header ng-scope">
    <div class="row">
      <div class="col-md-1" id="appPageLogoBox">
        <img ng-src="{{appData.appIcon.large}}" id="appDetailsPageAppLogo" />
      </div>
      <div class="col-md-6">
        <h4>
          {{appData.name}} - App Page
        </h4>
        <p>
          <a href="#/company/{{appData.company.id}}">{{appData.company.name}}</a>
        </p>
      </div>
      <div class="" id="appTypeHeaderLogo">
        <i class="fa fa-2" ng-class="appPlatform == 'ios' ? 'fa-apple' : 'fa-android'"></i>
      </div>
    </div>
  </header>

  <div class="page page-table" data-ng-controller="TableCtrl" ng-show="contactsLoaded && !contactsLoading">

    <!-- Company Apps Table -->
    <section class="panel panel-default table-dynamic" id="companyContactsTable">

      <div class="panel-heading" id="companyContactsTableHeading">
        <strong><i class="fa fa-list panel-ico"></i>Company Contact Information</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="companyContacts.length">| Displaying 1 - {{companyContacts.length}} of {{companyContacts.length}}</span>
        <button type="submit" class="btn btn-primary pull-right" ng-click="exportContactsToCsv()">Export Contacts to CSV</button>
      </div>

      <div id="results-table-wrapper">

        <table id="companyDetailsTable" class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th><div class="th normal-right-padding">
              Full Name
            </div></th>
            <th><div class="th normal-right-padding appDetailsHeader">
              Title
            </div></th>
            <th><div class="th normal-right-padding">
              Email
            </div></th>
            <th><div class="th normal-right-padding">
              LinkedIn
            </div></th>
          </tr>
          </thead>

          <tbody data-ng-hide="queryInProgress">
          <tr data-ng-repeat="contact in companyContacts">
            <td>
              {{contact.fullName}}
            </td>
            <td>
              {{contact.title}}
            </td>
            <td>
              <div><a href="mailto:{{contact.email}}">{{contact.email}}</a></div>
            </td>
            <td>
              <a href="https://www.linkedin.com/{{contact.linkedin}}" target="_blank">www.linkedin.com/{{contact.linkedin}}</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="tableStatusMessage" ng-show="contactsLoading || companyContacts.length < 1">
          <h5 data-ng-hide="companyContacts.length > 0 || !contactsLoaded">Sorry, No Contacts Available</h5>
          <div id="loadingSpinnerContainer" data-ng-show="contactsLoading">
            <div class="loading outer">
              <div class="loading inner"></div>
            </div>
          </div>
        </div>

      </div>

    </section>
  </div>

  <div class="">
    <div class="col-md-6 info-column">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>General Details</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">

              <ul class="list-unstyled list-info" ng-if="appPlatform == 'ios'">
                <li ng-if="appData.name">
                  <span class="icon fa fa-mobile"></span>
                  <label>App Name:</label>
                  {{appData.name}}
                </li>
                <li ng-if="appPlatform">
                  <span class="icon fa" ng-class="appPlatform == 'ios' ? 'fa-apple' : 'fa-android'"></span>
                  <label>Platform:</label>
                  iOS
                </li>
                <li ng-if="appData.appIdentifier">
                  <span class="icon fa fa-user"></span>
                  <label>App Store ID:</label>
                  id{{appData.appIdentifier}}
                </li>
                <li>
                  <span class="icon fa fa-usd"></span>
                  <label>Price:</label>
                  <span ng-if="!appData.price">Free</span>
                  <span ng-if="appData.price">{{(appData.price / 100.0) | currency}}</span>
                </li>
                <li ng-if="appData.size">
                  <span class="icon fa fa-arrows"></span>
                  <label>Size:</label>
                  {{appData.size | filesize}}
                </li>
                <li ng-if="appData.requiredIosVersion">
                  <span class="icon fa fa-cog"></span>
                  <label>Required OS:</label>
                  {{appData.requiredIosVersion}}
                </li>
                <li ng-if="appData.recommendedAge">
                  <span class="icon fa fa-child"></span>
                  <label>Content Rating:</label>
                  {{appData.recommendedAge}}
                </li>
                <li ng-if="appData.categories.length > 0">
                  <span class="icon fa fa-child"></span>
                  <label>Categories:</label>
                  <span ng-repeat="category in appData.categories">{{category}}{{$last ? '' : ', '}}</span>
                </li>
                <li ng-if="appData.description">
                  <span class="icon fa fa-file-text-o"></span>
                  <label>Description:</label>
                  <p class="appPageDescription"><pre dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{appData.description}}"></pre></p>
                </li>
              </ul>

              <ul class="list-unstyled list-info" ng-if="appPlatform == 'android'">
                <li ng-if="appData.name">
                  <span class="icon fa fa-mobile"></span>
                  <label>App Name:</label>
                  {{appData.name}}
                </li>
                <li>
                  <span class="icon fa" ng-class="appPlatform == 'ios' ? 'fa-apple' : 'fa-android'"></span>
                  <label>Platform:</label>
                  Android
                </li>
                <li ng-if="appData.playStoreId">
                  <span class="icon fa fa-user"></span>
                  <label>Play Store ID:</label>
                  {{appData.playStoreId}}
                </li>
                <li>
                  <span class="icon fa fa-usd"></span>
                  <label>Price:</label>
                  <span ng-if="!appData.price">Free</span>
                  <span ng-if="appData.price">{{(appData.price / 100.0) | currency}}</span>
                </li>
                <li ng-if="appData.downloadsMin && appData.downloadsMax">
                  <span class="icon fa fa-download"></span>
                  <label>Total Downloads:</label>
                  {{appData.downloadsMin | thousandSuffix}} - {{appData.downloadsMax | thousandSuffix}}
                </li>
                <li ng-if="appData.size">
                  <span class="icon fa fa-arrows"></span>
                  <label>Size:</label>
                  {{appData.size | filesize}}
                </li>
                <li ng-if="appData.inAppPurchaseMin && appData.inAppPurchaseMax">
                  <span class="icon fa fa-shopping-cart"></span>
                  <label>In-App Purchases:</label>
                  <span ng-if="appData.inAppPurchaseMin == appData.inAppPurchaseMax">{{(appData.inAppPurchaseMin / 100.0) | currency}}</span>
                  <span ng-if="appData.inAppPurchaseMin != appData.inAppPurchaseMax">{{(appData.inAppPurchaseMin / 100.0) | currency}} - {{(appData.inAppPurchaseMax / 100.0) | currency}}</span>
                  {{appData.price}}
                </li>
                <li ng-if="appData.contentRating">
                  <span class="icon fa fa-child"></span>
                  <label>Content Rating:</label>
                  {{appData.contentRating}}
                </li>
                <li ng-if="appData.requiredAndroidVersion">
                  <span class="icon fa fa-cog"></span>
                  <label>Required OS:</label>
                  {{appData.requiredAndroidVersion}}
                </li>
                <li ng-if="appData.categories">
                  <span class="icon fa fa-child"></span>
                  <label>Categories:</label>
                  <span ng-repeat="category in appData.categories">{{category}}{{$last ? '' : ', '}}</span>
                </li>
                <li ng-if="appData.description">
                  <span class="icon fa fa-file-text-o"></span>
                  <label>Description:</label>
                  <p class="appPageDescription"><pre dd-text-collapse dd-text-collapse-max-length="120" dd-text-collapse-text="{{appData.description}}"></pre></p>

                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>MightySignal Insights</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li ng-if="appData.appIdentifier">
                  <span class="icon fa fa-user"></span>
                  <label>MightySignal ID:</label>
                  {{appData.id}}
                </li>
                <li ng-if="appData.adSpend && canViewAdSpend">
                  <span class="icon glyphicon glyphicon-envelope"></span>
                  <label>Ad Spend:</label>
                  {{appData.adSpend ? 'Yes' : 'No'}}
                </li>
                <li ng-if="appData.mobilePriority">
                  <span class="icon glyphicon glyphicon-home"></span>
                  <label>Mobile Priority:</label>
                  {{appData.mobilePriority | capitalize}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-if="appData.rating || appData.ratingsCount != null">
        <div class="panel-heading"><strong>Reviews</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li ng-if="appData.rating != 0">
                  <span class="icon fa fa-star"></span>
                  <label>Aggregate Rating:</label>
                  <span>{{appData.rating}} of 5.0</span>
                </li>
                <li ng-if="appData.ratingsCount">
                  <span class="icon fa fa-star"></span>
                  <label>Ratings Count:</label>
                  <span ng-if="appData.ratingsCount == 0">No Ratings</span>
                  {{appData.ratingsCount}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Support Platform Optional Display Panel -->
      <div class="panel panel-default" ng-show="canViewSupportDesk && appData.supportDesk"> <!-- && appData.supportDesk"> -->
        <div class="panel-heading"><strong>Support Desk</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li ng-if="appData.supportDesk | supportDeskName">
                  <span class="icon fa fa-question-circle"></span>
                  <label>Name:</label>
                  <span ng-if="appData.supportDesk">{{appData.supportDesk | supportDeskName}}</span>
                </li>
                <li ng-if="appData.supportDesk">
                  <span class="icon fa fa-question-circle"></span>
                  <label>Portal:</label>
                  <a href="{{appData.supportDesk}}" target="_blank">{{appData.supportDesk}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6 info-column">

      <div id="appPageActionsPanel" class="panel panel-default">
        <div class="panel-heading"><strong>Actions</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li>
                  <span class="icon fa fa-plus"></span>
                  <label>Add to List:</label>
                  <span class="ui-select">
                    <select id="addSelectedToDropDown" ng-model="$root.addSelectedToDropdown" ng-change="addSelectedTo(addSelectedToDropdown)">
                      <option value="">Add Selected to List</option>
                      <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
                    </select>
                  </span>
                </li>
                <li>
                  <span class="icon fa" ng-class="appPlatform == 'ios' ? 'fa-apple' : 'fa-android'"></span>
                  <label>App Store Page:</label>
                  <a ng-if="appPlatform == 'ios'" href="https://itunes.apple.com/us/app/id{{appData.appIdentifier}}" target="_blank">https://itunes.apple.com/us/app/id{{appData.appIdentifier}}</a>
                  <a ng-if="appPlatform == 'android'" href="https://play.google.com/store/apps/details?id={{appData.appIdentifier}}" target="_blank">https://play.google.com/store/apps/details?id={{appData.appIdentifier}}</a>
                </li>
                <li id="linkedinLinksList">
                  <span class="icon fa fa-linkedin"></span>
                  <label>LinkedIn Links:</label>
                  <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('company')">Company</button>
                  <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('sales')">Sales Team</button>
                  <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('marketing')">Marketing Team</button>
                </li>
                <li>
                  <span class="icon fa fa-briefcase"></span>
                  <label>Company:</label>
                  <button type="submit" class="btn btn-default btn-sm" ng-click="linkTo('#/company/' + appData.company.id)">{{appData.company.name}}</button>
                </li>
                <li id="showCompanyEmailsButtonLi">
                  <div id="showCompanyEmailsContainer">
                    <div id="showCompanyEmailsButton">
                      <button ng-hide="contactsLoading" type="submit" class="btn btn-primary btn-block" ng-click="getCompanyContacts(appData.company.websites, companyContactFilter)">Load Contact Emails</button>
                    </div>
                    <div id="showCompanyEmailsTextField">
                      <input ng-model="companyContactFilter" type="text" class="form-control" ng-hide="contactsLoading" placeholder="(Optional) filter for contact title ">
                    </div>
                  </div>
                  <div id="loadingSpinnerContainer" data-ng-show="contactsLoading">
                    <div class="loading outer">
                      <div class="loading inner"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="canViewSdks && appPlatform == 'android'">
        <div class="panel-heading"><strong>SDKs</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">

                <!--
                <div style="text-align:center"><strong>SDK Live Scans Currently Being Updated - Please Check Back Later.</strong></div>
                -->

                <li ng-show="sdkData && sdkData.errorCode == 0" id="sdkLiveScanDisplay">
                  <div class="sdksListView">
                    <div class="row">
                      <div class="col-md-6" ng-show="sdkData.sdkCompanies">
                        <strong>SDK Companies</strong>
                        <ul>
                          <li ng-repeat="(sdkCompName, sdkValue) in sdkData.sdkCompanies">
                            <img src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                            <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                            <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                            <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                            <ul ng-if="sdkValue['children']">
                              <li ng-repeat="subSdk in sdkValue['children']">
                                <img src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                                <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6" ng-show="sdkData.sdkOpenSource">
                        <strong>Open-Source SDKs</strong>
                        <ul>
                          <li ng-repeat="(sdkCompName, sdkValue) in sdkData.sdkOpenSource">
                            <img src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                            <i class="fa fa-github" ng-hide="sdkValue['favicon']"></i>
                            <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                            <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                            <ul ng-if="sdkValue['children']">
                              <li ng-repeat="subSdk in sdkValue['children']">
                                <img src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                                <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" ng-show="sdkData.uninstalledSdkCompanies">
                        <strong>Uninstalled SDK Companies</strong>
                        <ul>
                          <li ng-repeat="(sdkCompName, sdkValue) in sdkData.uninstalledSdkCompanies">
                            <img src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                            <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                            <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                            <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                            <ul ng-if="sdkValue['children']">
                              <li ng-repeat="subSdk in sdkValue['children']">
                                <img src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                                <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6" ng-show="sdkData.uninstalledSdkOpenSource">
                        <strong>Uninstalled Open-Source SDKs</strong>
                        <ul>
                          <li ng-repeat="(sdkCompName, sdkValue) in sdkData.uninstalledSdkOpenSource">
                            <img src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                            <i class="fa fa-github" ng-hide="sdkValue['favicon']"></i>
                            <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                            <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                            <ul ng-if="sdkValue['children']">
                              <li ng-repeat="subSdk in sdkValue['children']">
                                <img src="{{subSdk['favicon']}}" ng-show="subSdk['favicon']">
                                <a href="{{subSdk['website']}}" ng-show="{{subSdk['website']}}" target="_blank">{{subSdk['name']}}</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li id="appPageSdkScanStatus">
                  <div ng-show="noSdkData">
                    <h5>{{sdkData.errorMessage}}</h5>
                  </div>
                  <div data-ng-show="sdkQueryInProgress" id="wrap_spinner">
                    <div class="loading outer">
                      <div class="loading inner"></div>
                    </div>
                    <p>Scanning - this will take a moment.</p>
                  </div>
                </li>
                <li id="showSdksButtonLi" ng-hide="sdkQueryInProgress">
                  <div id="showSdksButtonTitle" ng-show="sdkData.lastUpdated">
                    Last Scanned on {{sdkData.lastUpdated | date : 'shortDate'}}
                  </div>
                  <div id="showSdksButton">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="getSdks(appData.id)">Live Scan</button>
                  </div>
                </li>




              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Company Details</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li ng-if="appData.company.name">
                  <span class="icon fa fa-briefcase"></span>
                  <label>Name:</label>
                  {{appData.company.name}}
                </li>
                <li ng-if="appData.company.fortuneRank">
                  <span class="icon fa fa-bar-chart"></span>
                  <label>Fortune Rank:</label>
                  {{appData.company.fortuneRank}}
                </li>
                <li ng-if="appData.company.funding">
                  <span class="icon fa fa-money"></span>
                  <label>Funding:</label>
                  {{appData.company.funding | currency:"$":0}}
                </li>
                <li ng-if="appData.company.location.city">
                  <span class="icon fa fa-building-o"></span>
                  <label>Address:</label>
                  {{appData.company.location.streetAddress}}
                  {{appData.company.location.city}}<span ng-if="appData.company.location.zipCode">, </span>{{appData.company.location.zipCode}}
                </li>
                <li ng-if="appData.company.location.country">
                  <span class="icon fa fa-globe"></span>
                  <label>Country:</label>
                  {{appData.company.location.country}}
                </li>
                <li ng-if="appData.company.id">
                  <a href="#/company/{{appData.company.id}}">More Company Details</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><strong>Latest Release</strong></div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <ul class="list-unstyled list-info">
                <li ng-if="appData.currentVersion">
                  <span class="icon fa fa-cog"></span>
                  <label>Latest Version:</label>
                  {{appData.currentVersion}}
                </li>
                <li ng-if="appData.lastUpdated">
                  <span class="icon fa fa-calendar"></span>
                  <label>Release Date:</label>
                  {{appData.lastUpdated | date : 'shortDate'}}
                </li>
                <li ng-if="appData.currentVersionDescription">
                  <span class="icon fa fa-file-text-o"></span>
                  <label>Release Notes:</label>
                  <p class="appPageDescription">{{appData.currentVersionDescription}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Modals -->
  <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>

</div>
