<div class="page">

    <div class="col-md-8">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>App Details</strong></div>
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td><strong>Name:</strong> {{appData.name}}</td>
                </tr>
                <tr>
                  <td><strong>Mobile Priority:</strong> {{appData.mobilePriority}}</td>
                </tr>
                <tr>
                  <td><strong>Ad Spend:</strong> {{appData.adSpend}}</td>
                </tr>
                <tr>
                  <td><strong>Last Updated:</strong> {{appData.lastUpdated}}</td>
                </tr>
                <tr>
                  <td ng-if="appPlatform == 'ios'">
                    <a href="https://itunes.apple.com/us/app/id{{appData.appIdentifier}}" target="_blank"><strong>Apple App Store Listing</strong></a><br />
                  </td>
                  <td ng-if="appPlatform == 'android'">
                    <a href="https://play.google.com/store/apps/details?id={{appData.appIdentifier}}" target="_blank"><strong>Google Play Store Listing</strong></a><br />
                  </td>
                </tr>
                <tr>
                  <td><strong>App Logo:</strong><br /><img ng-src="{{appData.appIcon.large}}" id="appDetailsPageAppLogo" /></td>
                </tr>
                </tbody>
              </table>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Associated Company</strong></div>
            <div class="panel-body">
              <P>
                <strong>Company Name:</strong> {{appData.company.name}}<br />
              </P>
              <P>
                <strong>LinkedIn Profiles:</strong><br />
                <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('company')">Company</button>
                <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('sales')">Sales Team</button>
                <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('marketing')">Marketing Team</button>
              </P>
              <P>
                <a href="#/company/{{appData.company.id}}" ><strong>More Company Details</strong></a><br />
              </P>
            </div>
        </section>
    </div>

</div>
