<div class="chartPage" data-ng-controller="ChartsCtrl">

  <div>
    <div class="row chartPageRow">
      <h4>MightySignal Charts</h4>
      <ul>
        <li class="grid">
          <a href="#/charts/top-apps" class="icon">
            <img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/app-store-icon.png" width="50" height="50">
          </a>
          <br>
          <br>
          <a href="#/charts/top-apps"><span>iTunes Top 200 Apps</span></a>
        </li>
        <li class="grid">
          <a href="#/charts/sdks" class="icon">
            <img src="http://thebrainfever.com/images/apple-logos/Silhouette.png" width="50" height="50">
          </a>
          <br>
          <br>
          <a href="#/charts/sdks"><span>iOS SDKs</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

