<div class="page">

    <div class="col-md-8">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Company Details</strong></div>
            <div class="panel-body">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <td><strong>Name:</strong> {{companyData.name}}</td>
                </tr>
                <tr>
                  <td><strong>Fortune Rank:</strong> {{companyData.fortuneRank}}</td>
                </tr>
                <tr>
                  <td><strong>Funding:</strong> {{companyData.funding | currency}}</td>
                </tr>
                <tr>
                  <td><strong>Location:</strong>
                    <p>
                      {{companyData.location.streetAddress}}<br />
                    {{companyData.location.city}}, {{companyData.location.state}}, {{companyData.location.country}} {{companyData.location.zipCode}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Website(s):</strong><br />
                    <span ng-repeat="website in companyData.websites"><a href="{{website}}">{{website}}</a><br /></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>LinkedIn Profiles:</strong><br />
                    <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('company')">Company</button>
                    <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('sales')">Sales Team</button>
                    <button type="submit" class="btn btn-default" ng-click="onLinkedinButtonClick('marketing')">Marketing Team</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Other Apps by {{companyData.name}}</strong><span id="dashboardResultsTableHeadingNumDisplayed"> | {{companyData.iosApps.length + companyData.androidApps.length}} total</span></div>
            <div class="panel-body">
              <a ng-if="companyData.iosApps" ng-repeat="app in companyData.iosApps" href="#/app/ios/{{app.id}}" target="_blank">
                <div class="well companyAssociatedApp" >
                  <img ng-src="{{app.appIcon.large}}" />
                  <h5>{{app.name}}</h5>
                </div>
              </a>
              <a ng-if="companyData.androidApps" ng-repeat="app in companyData.androidApps" href="#/app/android/{{app.id}}" target="_blank">
                <div class="well companyAssociatedApp" >
                  <img ng-src="{{app.appIcon.large}}" />
                  <h5>{{app.name}}</h5>
                </div>
              </a>
            </div>
        </section>
    </div>

    <!-- Modals -->
    <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>

</div>
