<div class="page">

    <div class="col-md-8">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Company Details</strong></div>
            <div class="panel-body">
                <ul>
                  <li>Name</li>
                  <li>Fortune Rank</li>
                  <li>Funding</li>
                  <li>Location</li>
                  <li>LinkedIn Links</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Associated Apps</strong></div>
            <div class="panel-body">
                <ul>
                  <li>App 1</li>
                  <li>App 2</li>
                  <li>App 3</li>
                </ul>
              <div id="searchResultsControl">
                <button type="submit" class="btn btn-primary" ng-click="getCompany(tags)">Search</button>
              </div>
            </div>
        </section>
    </div>

</div>
