
<div class="page page-table" data-ng-controller="TableCtrl">

  <section class="panel panel-default table-dynamic" ng-controller="FilterCtrl">


    <div id="dashboard-tag-display" class="table-filters">
      <div><i class="fa fa-search"></i></div>
      <div class="row">
        <div class="col-md-11">
          <tags-input ng-model="tags" add-on-enter="true" type="text" class="ui-tags-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags">
            <ul class="tag-list"></ul>
          </tags-input>
        </div>
        <div id="searchResultsControl">
          <button type="submit" class="btn btn-primary" ng-click="submitSearch(tags)">Search</button>
        </div>
      </div>
    </div>

    <div class="panel-heading">

           <span class="ui-select">
                <select ng-model="mobilePriority" ng-change="onFilterChange('mobilePriority', mobilePriority, 'Mobile Priority')">
                  <option value="">Mobile Priority</option>
                  <option value="L">Low</option>
                  <option value="M">Medium</option>
                  <option value="H">High</option>
                </select>
            </span>
            <span class="ui-select">
                <select ng-model="fortuneRank" ng-change="onFilterChange('fortuneRank', fortuneRank, 'Fortune Rank')">
                  <option value="">Fortune Rank</option>
                  <option value="500">Fortune 500</option>
                  <option value="1000">Fortune 1000</option>
                  <option value="5000">Fortune 5000</option>
                </select>
            </span>
            <span class="ui-select">
                <select ng-model="adSpend" ng-change="onFilterChange('adSpend', adSpend, 'Reported Ad Spend')">
                  <option value="">Reported Ad Spend</option>
                  <option value="true">Yes</option>
                </select>
            </span>
            <span class="ui-select">
                <select ng-model="userBases" ng-change="onFilterChange('userBases', userBases, 'User Base Size')">
                  <option value="">User Base Size</option>
                  <option value="weak">Weak</option>
                  <option value="moderate">Moderate</option>
                  <option value="strong">Strong</option>
                  <option value="elite">Elite</option>
                </select>
            </span>
            <span class="ui-select">
                <select ng-model="updatedDaysAgo" ng-change="onFilterChange('updatedDaysAgo', updatedDaysAgo, 'Last Updated')">
                  <option value="">Last Updated</option>
                  <option value="30">Within 1 Month</option>
                  <option value="90">Within 3 Months</option>
                  <option value="180">Within 6 Months</option>
                  <option value="360">Within 12 Months</option>
                </select>
            </span>
            <span class="ui-select">
                <select ng-model="categories" ng-change="onFilterChange('categories', categories, 'Category')">
                  <option value="">Categories</option>
                  <option ng-repeat="option in categoryFilterOptions" value="{{option}}">{{option}}</option>
                </select>
            </span>
            <span id="dashboardSearchBox">
                <input placeholder="Custom tag..." ng-model="customKeywords" ng-enter="onFilterChange('customKeywords', customKeywords, 'Custom')">
            </span>

    </div>


  </section>

  <section class="panel panel-default table-dynamic">
    <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Results</strong></div>

    <div id="results-table-wrapper">

      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th><div class="th">
            App Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('name') "
                                  data-ng-class="{active: row == 'name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-name') "
                                  data-ng-class="{active: row == '-name'}"></span>
          </div></th>
          <th><div class="th">
            Company
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('company.name') "
                                  data-ng-class="{active: row == 'company.name'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-company.name') "
                                  data-ng-class="{active: row == '-company.name'}"></span>
          </div></th>
          <th><div class="th">
            Mobile Priority
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('mobilePriority') "
                                  data-ng-class="{active: row == 'mobilePriority'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-mobilePriority') "
                                  data-ng-class="{active: row == '-mobilePriority'}"></span>
          </div></th>
          <th><div class="th">
            Ad Spend
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('adSpend') "
                                  data-ng-class="{active: row == 'adSpend'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-adSpend') "
                                  data-ng-class="{active: row == '-adSpend'}"></span>
          </div></th>
          <th><div class="th">
            User Base Size
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('userBases') "
                                  data-ng-class="{active: row == 'userBases'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-userBases') "
                                  data-ng-class="{active: row == '-userBases'}"></span>
          </div></th>
          <th><div class="th">
            Categories
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('rating') "
                                  data-ng-class="{active: row == 'rating'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-rating') "
                                  data-ng-class="{active: row == '-rating'}"></span>
          </div></th>
          <th><div class="th">
            Last Updated
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('lastUpdated') "
                                  data-ng-class="{active: row == 'lastUpdated'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-lastUpdated') "
                                  data-ng-class="{active: row == '-lastUpdated'}"></span>
          </div></th>
          <th><div class="th">
            Fortune Rank
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" order('company.fortuneRank') "
                                  data-ng-class="{active: row == 'company.fortuneRank'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" order('-company.fortuneRank') "
                                  data-ng-class="{active: row == '-company.fortuneRank'}"></span>
          </div></th>
          <th><div class="th">
            Details
          </div></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="app in $root.apps">
          <td>{{app.app.name}}</td>
          <td><a href="#/company/{{app.company.id}}">{{app.company.name}}</a></td>
          <td>{{app.app.mobilePriority}}</td>
          <td>{{app.app.adSpend}}</td>
          <td>{{app.app.userBase}}</td>
          <td>{{app.app.categories.join(', ')}}</td>
          <td>{{app.app.lastUpdated}}</td>
          <td>{{app.company.fortuneRank}}</td>
          <td><a href="/app/{{app.app.id}}">Details</a></td>
        </tr>
        </tbody>
      </table>

    </div>

    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <!--
                      <span>
                          Show
                          <select data-ng-model="numPerPage"
                                  data-ng-options="num for num in numPerPageOpt"
                                  data-ng-change="onNumPerPageChange()">
                          </select>
                          entries per page
                      </span>
          -->
        </div>
        <div class="col-md-6 text-right pagination-container">
          <pagination class="pagination-sm"
                      ng-model="currentPage"
                      total-items="filteredApps.length"
                      max-size="4"
                      ng-change="select(currentPage)"
                      items-per-page="numPerPage"
                      rotate="false"
                      boundary-links="true"></pagination>
        </div>
      </div>
    </footer>
  </section>

</div>
