<div data-ng-controller="SearchCtrl as searchCtrl">
  <div class="page page-table" data-ng-controller="TableCtrl">

    <section class="panel panel-default table-dynamic" ng-controller="FilterCtrl">

      <div id="dashboard-tag-display" class="table-filters">
        <div><i class="fa fa-search"></i></div>
        <div class="row">
          <div class="col-md-11">
            <tags-input ng-model="tags" type="text" class="ui-tags-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags">
              <ul class="tag-list"></ul>
            </tags-input>
          </div>
          <div id="searchResultsControl">
            <button type="submit" class="btn btn-primary" ng-click="searchCtrl.submitSearch()" ng-disabled="$root.dashboardSearchButtonDisabled || $root.tags < 1">Filter</button>
          </div>
        </div>
      </div>

      <div class="panel-heading">

            <span class="dashboard-tag-filter-selects">

              <app-platform-toggle custom-search-platform="customSearchCtrl.platform"></app-platform-toggle>

               <span class="ui-select">
                    <select ng-model="mobilePriority" ng-change="onFilterChange('mobilePriority', mobilePriority, 'Mobile Priority', false)">
                      <option value="">Mobile Priority</option>
                      <option value="H">High</option>
                      <option value="M">Medium</option>
                      <option value="L">Low</option>
                    </select>
               </span>
               <span class="ui-select">
                    <select ng-model="fortuneRank" ng-change="onFilterChange('fortuneRank', fortuneRank, 'Fortune Rank', true)">
                      <option value="">Fortune Rank</option>
                      <option value="500">Fortune 500</option>
                      <option value="1000">Fortune 1000</option>
                    </select>
               </span>
               <span class="ui-select" ng-show="canViewAdSpend">
                    <select ng-model="adSpend" ng-change="onFilterChange('adSpend', adSpend, 'Reported Ad Spend', false)">
                      <option value="">Ads on Facebook</option>
                      <option value="true">Yes</option>
                    </select>
               </span>
               <span class="ui-select">
                    <select ng-model="userBases" ng-change="onFilterChange('userBases', userBases, 'User Base Size', false)">
                      <option value="">User Base Size</option>
                      <option value="weak">Weak</option>
                      <option value="moderate">Moderate</option>
                      <option value="strong">Strong</option>
                      <option value="elite">Elite</option>
                    </select>
               </span>
              <!--
               <span class="ui-select">
                    <select ng-model="updatedDaysAgo" ng-change="onFilterChange('updatedDaysAgo', updatedDaysAgo, 'Last Updated', true)">
                      <option value="">Last Updated</option>
                      <option value="7">Within 7 Days</option>
                      <option value="30">Within 1 Month</option>
                      <option value="90">Within 3 Months</option>
                      <option value="180">Within 6 Months</option>
                      <option value="360">Within 12 Months</option>
                    </select>
               </span>
               -->
               <span class="ui-select">
                    <select ng-model="categories" ng-change="onFilterChange('categories', categories, 'Category', false)">
                      <option value="">Categories</option>
                      <option ng-repeat="option in categoryFilterOptions" value="{{option}}">{{option}}</option>
                    </select>
               </span>
               <span class="ui-select" ng-show="canViewSupportDesk && appPlatform.platform == 'ios'">
                    <select ng-model="supportDesk" ng-change="onFilterChange('supportDesk', supportDesk, 'Support Desk', false)">
                      <option value="">Support Desk</option>
                      <option value="zendesk">Zendesk</option>
                      <option value="helpshift">HelpShift</option>
                      <option value="uservoice">UserVoice</option>
                      <option value="freshdesk">FreshDesk</option>
                      <option value="desk">Desk</option>

                    </select>
               </span>
            </span>
            <span id="filterMethodButton">
              <button type="button" class="btn btn-sp-v btn-bordered-default pull-right" data-toggle="modal" data-target="#myModal" ng-click="mixpanelAnalyticsEventTooltip('Methodology Modal')">Filters Explained</button>
            </span>
        </div>

    </section>

    <section class="panel panel-default table-dynamic">
      <div class="panel-heading" id="dashboardResultsTableHeading">
       <strong><i class="fa fa-list panel-ico"></i>Results</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="searchCtrl.numApps">| Displaying {{searchCtrl.appsDisplayedCount()}} of {{searchCtrl.numApps}}</span>
        <!--
        <button type="submit" class="btn btn-primary pull-right" ng-click="searchCtrl.exportAllToCsv()">Export All to CSV</button>
        -->
        <span class="ui-select pull-right">
          <select id="addSelectedToDropDown" ng-model="$root.addSelectedToDropdown" ng-change="addSelectedTo(addSelectedToDropdown, $root.selectedAppsForList)" ng-disabled="$root.selectedAppsForList < 1">
            <option value="">Add Selected to List</option>
            <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
          </select>
        </span>
      </div>

      <div id="results-table-wrapper" data-ng-controller="ListCtrl">

        <table class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th class="selectAllCheckboxHeader">
              <select-all-checkbox apps="searchCtrl.apps" num-apps="searchCtrl.numApps"></select-all-checkbox>
            </th>
            <th><div class="th">
              App Name
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('appName', 'ASC') "
                                    data-ng-class="{active: row == 'appName'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('appName', 'DESC') "
                                    data-ng-class="{active: row == '-appName'}"></span>
            </div></th>
            <th><div class="th">
              Company
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('companyName', 'ASC') "
                                    data-ng-class="{active: row == 'companyName'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('companyName', 'DESC') "
                                    data-ng-class="{active: row == '-companyName'}"></span>
            </div></th>
            <th><div class="th">
              Fortune Rank
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('fortuneRank', 'ASC') "
                                    data-ng-class="{active: row == 'fortuneRank'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('fortuneRank', 'DESC') "
                                    data-ng-class="{active: row == '-fortuneRank'}"></span>
            </div></th>
            <th><div class="th normal-right-padding">
              Mobile Priority
            </div></th>
            <th ng-show="canViewAdSpend"><div class="th normal-right-padding">
              Ad Spend
            </div></th>
            <th><div class="th normal-right-padding">
              User Base Size
            </div></th>
            <th><div class="th normal-right-padding">
              Categories
            </div></th>
            <th ng-show="canViewSupportDesk"><div class="th normal-right-padding">
              Support Desk
            </div></th>
            <th><div class="th">
              Last Updated
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('lastUpdated', 'DESC') "
                                    data-ng-class="{active: row == 'lastUpdated'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('lastUpdated', 'ASC') "
                                    data-ng-class="{active: row == '-lastUpdated'}"></span>
            </div></th>
          </tr>
          </thead>

          <tbody data-ng-hide="$root.dashboardSearchButtonDisabled">
            <tr data-ng-repeat="app in searchCtrl.apps">
              <td class="dashboardTableDataCheckbox">
                <checkable-checkbox app="app.app" apps="searchCtrl.apps"></checkable-checkbox>
              </td>
              <td class="resultsTableAppIcon">
                <span>
                  <img ng-src="{{app.app.appIcon.large}}" /> <a href="#/app/{{appPlatform.platform}}/{{app.app.id}}">{{app.app.name}}</a>
                </span>
              </td>
              <td ng-if="app.company.name"><a href="#/company/{{app.company.id}}">{{app.company.name}}</a></td>
              <td ng-if="!app.company.name">{{app.app.seller}}</td>              <td>{{app.company.fortuneRank}}</td>
              <td class="dashboardMobilePriorityView"><i class="fa fa-circle" ng-class="'status-' + app.app.mobilePriority"></i>{{app.app.mobilePriority | capitalize}}</td>
              <td class="dashboardAdSpendView" ng-show="canViewAdSpend">
                <i class="fa fa-circle" ng-class="'status-' + app.app.adSpend"></i>{{app.app.adSpend ? 'Yes' : 'No'}}
              </td>
              <td>{{app.app.userBase | capitalize}}</td>
              <td>{{app.app.categories.join(', ')}}</td>
              <td ng-show="canViewSupportDesk">{{app.app.supportDesk | supportDeskName}}</td>
              <td>{{app.app.lastUpdated | date : 'shortDate'}}</td>
            </tr>
          </tbody>
        </table>
        <div id="dashboardTableStatusMessage" data-ng-show="$root.dashboardSearchButtonDisabled || !(searchCtrl.numApps > 0)">
          <h5 data-ng-hide="$root.appNum > 0 || $root.dashboardSearchButtonDisabled">No Results</h5>
          <div data-ng-show="$root.dashboardSearchButtonDisabled" id="wrap_spinner">
            <div class="loading outer">
              <div class="loading inner"></div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Methodology Behind the Filters</h3>
              </div>
              <div class="modal-body">
                <h4>Mobile Priority</h4>
                <p>Mobile Priority: how much the company cares about the app. Use this to filter out apps that are not actively being developed or marketed.</p>
                <p>The Mobile Priority ranking is continuously improving as we collect more data and refine the algorithm.</p>
                  Currently, the rank is a function of how recently their app has been updated, and whether they advertise on Facebook. High: they have advertised on Facebook or have updated within the past two months. Medium: Updated within last 2 - 4 months. Low: Last update > 4 months ago.
                </p>

                <h4>Fortune Rank</h4>
                <p>Fortune Rank: filters for companies in either the Fortune 500 or Fortune 1000 lists.</p>

                <span ng-show="canViewAdSpend" id="facebookMethodologySection">
                  <h4>Advertising on Facebook</h4>
                  <p>Advertising on Facebook: whether the company is paying for ads on Facebook to download the app. This is the leading indicator that the app has marketing budget.</p>
                  <p>We determine this via a network of hundreds of people who report to us what mobile app adds they see when on Facebook.</p>
                  <p>We are continuing to refine this tool to give more specifics. As of its current state, we’re denoting whether a company advertises on Facebook in a binary
                    fashion – either they do (if an ad has been reported) or they don’t.</p>
                </span>

                <h4>User Base Size</h4>
                <p>User Base Size: an estimate of how many active users an app has.</p>
                <p>We derive this estimate based off of how many ratings per day an app has. Elite: 50,000 total ratings or 7 ratings per day average (for current release).
                  Strong: 10,000 total ratings or 1 rating per day average (for current release). Moderate: 100 total ratings or 0.1 average rating per day average
                  (for current release). Weak: anything less.</p>

                <h4>Last Updated</h4>
                <p>Last Updated: length of time from last update to app, as reported on the iOS and Google Play stores.</p>

                <h4>Categories</h4>
                <p>Categories: the category/genre of the app (same as iOS App Store categories).</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modals -->
        <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>

      </div>

      <footer class="table-footer">
        <div class="row">
          <div class="col-md-6 page-num-info">
            <!--
                        <span>
                            Show
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()">
                            </select>
                            entries per page
                        </span>
            -->
          </div>
          <div class="col-md-6 text-right pagination-container">
            <pagination class="pagination-sm"
                        ng-class="{disabled: $root.dashboardSearchButtonDisabled}"
                        ng-model="currentPage"
                        total-items="searchCtrl.numApps"
                        max-size="8"
                        ng-change="searchCtrl.submitPageChange(currentPage)"
                        items-per-page="numPerPage"
                        rotate="false"
                        boundary-links="true"></pagination>
          </div>
        </div>
      </footer>
    </section>

  </div>
</div>
