<div data-ng-controller="SearchCtrl as searchCtrl">
  <div class="page page-table" data-ng-controller="TableCtrl">

    <section class="panel panel-default table-dynamic" ng-controller="FilterCtrl">

      <header class="page-main-header ng-scope">
        <div class="row">
          <div class="col-md-6">
            <h4>Explore Mobile Apps</h4>
          </div>
        </div>
      </header>
      <div class="panel-heading">

            <span class="dashboard-tag-filter-selects">

              <app-platform-toggle custom-search-platform="customSearchCtrl.platform"></app-platform-toggle>
              <span ng-if="searchCtrl.canViewStorewideSdks">
                 <angucomplete-alt id="sdk-autocomplete-filter"
                                  placeholder="Add an SDK filter"
                                  pause="100"
                                  selected-object="selectedSdk"
                                  remote-url-data-field="results"
                                  search-fields="name"
                                  title-field="name"
                                  id-feild="id"
                                  clear-selected="true"
                                  image-field="favicon"
                                  minlength="1"
                                  input-class="form-control form-control-small sdk-autocomplete-filter"/>
              </span>
              <span class="ui-select sdkOperator" ng-if="searchCtrl.canViewStorewideSdks && $root.sdkNameFilters.length > 0">
                   <select ng-model="sdkOperator" ng-change="onFilterChange('sdkOperator', sdkOperator, 'SDK Operator', true)" tooltip-placement="bottom-left" uib-tooltip-html="sdkOperatorExplanation" tooltip-popup-delay="200">
                      <option value="">Or</option>
                      <option value="and">And</option>
                      <option value="not">Not</option>
                   </select>
              </span>
               <span class="ui-select">
                    <select ng-model="mobilePriority" ng-change="onFilterChange('mobilePriority', mobilePriority, 'Mobile Priority', false)" tooltip-placement="bottom-left" uib-tooltip-html="mobileExplanation" tooltip-popup-delay="200">
                      <option value="">Mobile Priority</option>
                      <option value="H">High</option>
                      <option value="M">Medium</option>
                      <option value="L">Low</option>
                    </select>
               </span>
               <span class="ui-select">
                    <select ng-model="fortuneRank" ng-change="onFilterChange('fortuneRank', fortuneRank, 'Fortune Rank', true)" tooltip-placement="bottom-left" uib-tooltip-html="fortuneExplanation" tooltip-popup-delay="200">
                      <option value="">Fortune Rank</option>
                      <option value="500">Fortune 500</option>
                      <option value="1000">Fortune 1000</option>
                    </select>
               </span>
               <span class="ui-select" ng-show="canViewAdSpend">
                    <select ng-model="adSpend" ng-change="onFilterChange('adSpend', adSpend, 'Reported Ad Spend', false)" tooltip-placement="bottom-left" uib-tooltip-html="adSpendExplanation" tooltip-popup-delay="200">
                      <option value="">Ads on Facebook</option>
                      <option value="true">Yes</option>
                    </select>
               </span>
               <span class="ui-select">
                    <select ng-model="userBases" ng-change="onFilterChange('userBases', userBases, 'User Base Size', false)" tooltip-placement="bottom-left" uib-tooltip-html="userBaseExplanation" tooltip-popup-delay="200">
                      <option value="">User Base Size</option>
                      <option value="weak">Weak</option>
                      <option value="moderate">Moderate</option>
                      <option value="strong">Strong</option>
                      <option value="elite">Elite</option>
                    </select>
               </span>
               <span class="ui-select" ng-show="appPlatform.platform == 'android'">
                    <select ng-model="downloads" ng-change="onFilterChange('downloads', downloads, 'Downloads', false)">
                      <option value="">Downloads</option>
                      <option value="0">0 - 50K</option>
                      <option value="1">50K - 500K</option>
                      <option value="2">500K - 10M</option>
                      <option value="3">10M - 100M</option>
                      <option value="4">100M - 1B</option>
                      <option value="5">1B - 5B</option>
                    </select>
               </span>
              <!--
               <span class="ui-select">
                    <select ng-model="updatedDaysAgo" ng-change="onFilterChange('updatedDaysAgo', updatedDaysAgo, 'Last Updated', true)">
                      <option value="">Last Updated</option>
                      <option value="7">Within 7 Days</option>
                      <option value="30">Within 1 Month</option>
                      <option value="90">Within 3 Months</option>
                      <option value="180">Within 6 Months</option>
                      <option value="360">Within 12 Months</option>
                    </select>
               </span>
               -->
               <span class="ui-select">
                  <div ng-dropdown-multiselect="" options="categoryFilterOptions" selected-model="categoryModel" checkboxes="true" extra-settings="searchCtrl.categorySettings" events="selectEvents" translation-texts="searchCtrl.categoryCustomText"></div>
               </span>
               <span class="ui-select" ng-show="canViewSupportDesk && appPlatform.platform == 'ios'">
                    <select ng-model="supportDesk" ng-change="onFilterChange('supportDesk', supportDesk, 'Support Desk', false)">
                      <option value="">Support Desk</option>
                      <option value="zendesk">Zendesk</option>
                      <option value="helpshift">HelpShift</option>
                      <option value="uservoice">UserVoice</option>
                      <option value="freshdesk">FreshDesk</option>
                      <option value="desk">Desk</option>
                    </select>
               </span>
            </span>
        </div>
        <div id="dashboard-tag-display" class="table-filters">
          <div class="row">
            <div class="col-md-11">
              <tags-input ng-model="tags" on-tag-removed="removedTag($tag)" type="text" class="ui-tags-input ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags">
              </tags-input>
            </div>
            <div id="searchResultsControl">
              <button type="submit" class="btn btn-primary" ng-click="searchCtrl.submitSearch()" ng-disabled="$root.dashboardSearchButtonDisabled || $root.tags < 1">Filter</button>
            </div>
          </div>
        </div>

    </section>

    <div class="row companyPageRow" ng-if="$root.sdkNameFilters.length > 0 && searchCtrl.canViewStorewideSdks">
      <div class="alert ng-isolate-scope alert-info alert-dismissable" role="alert" type="info">
        <div><span class="ng-binding ng-scope">
					<span ng-if="appPlatform.platform == 'ios'">
						Results from scanning the top <strong>{{$root.scannedIosSdkNum | number}}</strong> iOS apps. 
					</span>
					<span ng-if="appPlatform.platform == 'android'">
						Results from scanning all Android apps updated within a year (<strong>{{$root.scannedAndroidSdkNum | number}}</strong> apps).
					</span>
					<!--
					Note: SDK filter results are derived from 
					<strong ng-if="appPlatform.platform == 'ios'">{{$root.scannedIosSdkNum | number}}</strong>
					<strong ng-if="appPlatform.platform == 'android'">{{$root.scannedAndroidSdkNum | number}}</strong> 
					presently scanned {{appPlatform.platform == 'ios' ? 'iOS' : 'Android'}} apps. We are scanning more every day.-->
				</span></div>
						
      </div>
    </div>

    <section class="panel panel-default table-dynamic">
      <div class="panel-heading" id="dashboardResultsTableHeading">
       <strong><i class="fa fa-list panel-ico"></i>Results</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="searchCtrl.numApps">| Displaying {{searchCtrl.appsDisplayedCount()}} of {{searchCtrl.numApps | number}}</span>
        <!--
        <button type="submit" class="btn btn-primary pull-right" ng-click="searchCtrl.exportAllToCsv()">Export All to CSV</button>
        -->
        <span class="ui-select pull-right">
          <select id="addSelectedToDropDown" ng-model="$root.addSelectedToDropdown" ng-change="addSelectedTo(addSelectedToDropdown, $root.selectedAppsForList)" ng-disabled="$root.selectedAppsForList < 1">
            <option value="">Add Selected to List</option>
            <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
          </select>
        </span>
      </div>

      <div id="results-table-wrapper" data-ng-controller="ListCtrl">

        <table class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th class="selectAllCheckboxHeader">
              <select-all-checkbox apps="searchCtrl.apps" num-apps="searchCtrl.numApps"></select-all-checkbox>
            </th>
            <th><div class="th">
              App Name
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('appName', 'ASC') "
                                    data-ng-class="{active: row == 'appName'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('appName', 'DESC') "
                                    data-ng-class="{active: row == '-appName'}"></span>
            </div></th>
            <th><div class="th">
              Publisher
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('developerName', 'ASC') "
                                    data-ng-class="{active: row == 'developerName'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('developerName', 'DESC') "
                                    data-ng-class="{active: row == '-developerName'}"></span>
            </div></th>
            <th><div class="th">
              Fortune Rank
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('fortuneRank', 'ASC') "
                                    data-ng-class="{active: row == 'fortuneRank'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('fortuneRank', 'DESC') "
                                    data-ng-class="{active: row == '-fortuneRank'}"></span>
            </div></th>
            <th><div class="th normal-right-padding">
              Mobile Priority
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('mobilePriority', 'ASC') "
                                    data-ng-class="{active: row == 'mobilePriority'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('mobilePriority', 'DESC') "
                                    data-ng-class="{active: row == '-mobilePriority'}"></span>
            </div></th>
            <th ng-show="canViewAdSpend"><div class="th normal-right-padding">
              Ad Spend
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('adSpend', 'DESC') "
                                    data-ng-class="{active: row == 'adSpend'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('adSpend', 'ASC') "
                                    data-ng-class="{active: row == '-adSpend'}"></span>
            </div></th>
            <th><div class="th normal-right-padding">
              User Base Size
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('userBases', 'ASC') "
                                    data-ng-class="{active: row == 'userBases'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('userBases', 'DESC') "
                                    data-ng-class="{active: row == '-userBases'}"></span>
            </div></th>
            <th ng-show="appPlatform.platform == 'android'"><div class="th normal-right-padding">
              Downloads
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('downloads', 'DESC') "
                                    data-ng-class="{active: row == 'downloads'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('downloads', 'ASC') "
                                    data-ng-class="{active: row == '-downloads'}"></span>
            </div></th>
            <th><div class="th normal-right-padding">
              Categories
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click="searchCtrl.sortApps('categories', 'ASC') "
                                    data-ng-class="{active: row == 'categories'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('categories', 'DESC') "
                                    data-ng-class="{active: row == '-categories'}"></span>
            </div></th>
            <th ng-show="canViewSupportDesk"><div class="th normal-right-padding">
              Support Desk
            </div></th>
            <th><div class="th">
              Last Updated
                              <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" searchCtrl.sortApps('lastUpdated', 'DESC') "
                                    data-ng-class="{active: row == 'lastUpdated'}"></span>
                              <span class="glyphicon glyphicon-chevron-down"
                                    data-ng-click=" searchCtrl.sortApps('lastUpdated', 'ASC') "
                                    data-ng-class="{active: row == '-lastUpdated'}"></span>
            </div></th>
          </tr>
          </thead>

          <tbody data-ng-hide="$root.dashboardSearchButtonDisabled">
            <tr data-ng-repeat="app in searchCtrl.apps">
              <td class="dashboardTableDataCheckbox">
                <checkable-checkbox app="app.app" apps="searchCtrl.apps"></checkable-checkbox>
              </td>
              <td class="resultsTableAppIcon">
                <span>
                  <a href="#/app/{{appPlatform.platform}}/{{app.app.id}}">
                    <img ng-src="{{app.app.appIcon.large}}" />
                    {{app.app.name}}
                  </a>
                </span>
                <span class="badge badge-primary" ng-if="0 <= app.app.releasedDays && app.app.releasedDays <= 15">New</span>
              </td>
              <td ng-if="app.developer.name"><a href="#/publisher/{{appPlatform.platform}}/{{app.developer.id}}">{{app.developer.name}}</a></td>
              <td>{{app.company.fortuneRank}}</td>
              <td class="dashboardMobilePriorityView">
                <span ng-if="app.app.mobilePriority"><i class="fa fa-circle" ng-class="'status-' + app.app.mobilePriority"></i>{{app.app.mobilePriority | capitalize}}</span>
              </td>
              <td class="dashboardAdSpendView" ng-show="canViewAdSpend">
                <span ng-if="!isNaN(app.app.adSpend)">
                  <i class="fa fa-circle" ng-class="'status-' + app.app.adSpend"></i>{{app.app.adSpend ? 'Yes' : 'No'}}
                </span>
              </td>
              <td>{{app.app.userBase | capitalize}}</td>
              <td ng-show="appPlatform.platform == 'android'">{{app.app.downloadsMin | humanizeNum}} - {{app.app.downloadsMax | humanizeNum}}</td>
              <td>{{app.app.categories.join(', ')}}</td>
              <td ng-show="canViewSupportDesk">{{app.app.supportDesk | supportDeskName}}</td>
              <td>
                <span ng-show="app.app.lastUpdatedDays >= 0 && app.app.lastUpdatedDays != null">
                  <span ng-class="searchCtrl.getLastUpdatedDaysClass(app.app.lastUpdatedDays)">
                    <strong>{{app.app.lastUpdatedDays}}</strong>
                  </span> days ago
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="dashboardTableStatusMessage" data-ng-show="$root.dashboardSearchButtonDisabled || !(searchCtrl.numApps > 0)">
          <h5 data-ng-hide="$root.appNum > 0 || $root.dashboardSearchButtonDisabled || $root.searchError">No Results</h5>
          <h5 data-ng-show="$root.searchError">There was an error. Please try again.</h5>
          <div data-ng-show="$root.dashboardSearchButtonDisabled" id="wrap_spinner">
            <div class="loading outer">
              <div class="loading inner"></div>
            </div>
          </div>
        </div>

        <!-- Modals -->
        <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>

      </div>

      <footer class="table-footer">
        <div class="row">
          <div class="col-md-6 page-num-info">    
          </div>
          <div class="col-md-6 text-right pagination-container">
            <uib-pagination class="pagination-sm"
                        ng-class="{disabled: $root.dashboardSearchButtonDisabled}"
                        ng-model="currentPage"
                        total-items="searchCtrl.numApps"
                        max-size="8"
                        ng-change="searchCtrl.submitPageChange(currentPage)"
                        items-per-page="numPerPage"
                        rotate="false"
                        boundary-links="true"></uib-pagination>
          </div>
        </div>
      </footer>
    </section>

  </div>
</div>
