<header class="clearfix">

  <div class="top-nav">
    <ul class="nav-left list-unstyled">
        <li>
            <!-- needs to be put after logo to make it working-->
            <div class="menu-button" toggle-off-canvas>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </li>
        <li>
            <a href="" data-toggle-min-nav
               class="toggle-min"
                    ><i class="fa fa-bars"></i></a>
        </li>
    </ul>
    <div id="mainSearchBoxWrapper" class="pull-right">
      <div id="mainSearchBox" class="col-lg-5 col-sm-6 pull-right">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="customSearchCtrl.searchInput" ng-enter="customSearchCtrl.submitSearch()" placeholder="Search for {{customSearchCtrl.platform == 'ios' ? 'iOS' : 'Android'}} app or company">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="customSearchCtrl.submitSearch()">Search</button>
              </span>
        </div>
      </div>

      <div class="pull-right">
        <span class="btn-group ng-isolate-scope" id="dashboardPlatformSwitch">
          <button type="button" ng-class="customSearchCtrl.platform == 'ios' ? 'btn-primary' : 'btn-default'" class="btn btn-primary" ng-click="customSearchCtrl.changeAppPlatform('ios')">iOS</button>
          <button type="button" ng-class="customSearchCtrl.platform == 'android' ? 'btn-primary' : 'btn-default'" class="btn btn-default" ng-click="customSearchCtrl.changeAppPlatform('android')">Android</button>
        </span>
      </div>
    </div>
  </div>
</header>
