<div class="panel panel-default" data-ng-controller="IosLiveScanCtrl as iosLiveScanCtrl">
  <div class="panel-heading"><strong>SDKs</strong></div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <ul class="list-unstyled list-info">

          <div style="text-align:center">
            <strong>iOS Live Scan Placeholder</strong>
          </div>

          <li ng-show="iosLiveScanCtrl.sdkData && !iosLiveScanCtrl.sdkData.errorCode && !iosLiveScanCtrl.noSdkSnapshot" id="sdkLiveScanDisplay">
            <div class="sdksListView">
              <div class="row">

                <div class="col-md-6" ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkCompanies)">
                  <strong ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkCompanies)">SDK Companies</strong>
                  <ul ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkCompanies)">
                    <li ng-repeat="(sdkCompName, sdkValue) in iosLiveScanCtrl.sdkData.sdkCompanies">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-circle" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                      </span>
                    </li>
                  </ul>
                </div>

                <div class="col-md-6 sdkOpenSourceSection" ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkOpenSource)">
                  <strong ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkOpenSource)">Open-Source SDKs</strong>
                  <ul ng-hide="iosLiveScanCtrl.isEmpty(iosLiveScanCtrl.sdkData.sdkOpenSource)">
                    <li ng-repeat="(sdkCompName, sdkValue) in iosLiveScanCtrl.sdkData.sdkOpenSource">
                      <img ng-src="{{sdkValue['favicon']}}" ng-show="sdkValue['favicon']">
                      <i class="fa fa-github" ng-hide="sdkValue['favicon']"></i>
                      <span ng-if="canViewStorewideSdks">
                        <a href="#/sdk/android/{{sdkValue['id']}}" ng-show="{{sdkValue['id']}}">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['id']">{{sdkCompName}}</strong>
                      </span>
                      <span ng-if="!canViewStorewideSdks">
                        <a href="{{sdkValue['website']}}" ng-show="{{sdkValue['website']}}" target="_blank">{{sdkCompName}}</a>
                        <strong ng-hide="sdkValue['website']">{{sdkCompName}}</strong>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!--
          <li>
            <div style="text-align:center">
              <strong>SDK Live Scans are currently being updated - please check back later.</strong>
            </div>
          </li>
          -->

          <li id="appPageSdkScanStatus" ng-if="iosLiveScanCtrl.noSdkData && iosLiveScanCtrl.displayStatus == 'normal' || iosLiveScanCtrl.sdkQueryInProgress && iosLiveScanCtrl.displayStatus == 'normal'">
            <div id="sdkScanErrorMessage" ng-show="iosLiveScanCtrl.noSdkData">
              <h5>{{iosLiveScanCtrl.sdkData.errorCodeMessage}}</h5>
            </div>
            <div data-ng-show="iosLiveScanCtrl.sdkQueryInProgress" id="wrap_spinner">
              <div class="loading outer">
                <div class="loading inner"></div>
              </div>
              <p>Scanning - this may take a minute.</p>
            </div>
          </li>
          <li id="showSdksButtonLi" ng-if="!iosLiveScanCtrl.sdkQueryInProgress && iosLiveScanCtrl.displayStatus == 'normal'">
            <div id="showSdksButtonTitle" ng-show="iosLiveScanCtrl.sdkData.lastUpdated">
              Last Scanned on {{iosLiveScanCtrl.sdkData.lastUpdated | date : 'shortDate'}}
            </div>
            <div id="showSdksButton">
              <button type="submit" class="btn btn-primary btn-block" ng-click="iosLiveScanCtrl.getSdks(iosLiveScanCtrl.appData.id)">Live Scan</button>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
