
<div class="page page-table" data-ng-controller="TableCtrl">

  <section class="panel panel-default table-dynamic" data-ng-controller="ListCtrl">
    <div class="panel-heading" id="listViewTableHeading">
     <strong><i class="fa fa-list panel-ico"></i>Lists</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="$root.numApps">| Displaying 1 - {{$root.numApps}} of {{$root.numApps}}</span>
     <button type="submit" class="btn btn-primary pull-right" ng-click="exportListToCsv()">Export List to CSV</button>
     <button type="submit" class="btn btn-danger pull-right" data-toggle="modal" data-target="#listDeleteModal">Delete List</button>
     <button type="submit" class="btn btn-danger pull-right" data-toggle="modal" data-target="#listDeleteSelectedModal" ng-disabled="$root.selectedAppsForList < 1">Delete Selected</button>
      <!--
      <span class="ui-select pull-right">
        <select ng-model="addSelectedToDropdown" ng-change="addSelectedTo(addSelectedToDropdown, selectedAppsForList)">
         <option value="">Copy Selected to List</option>
         <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
        </select>
      </span>
      -->
    </div>



    <div id="results-table-wrapper">

      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th class="selectAllCheckboxHeader">
            <select-all-checkbox checkboxes="$root.apps" all-selected="AllSelectedItems" all-clear="NoSelectedItems"></select-all-checkbox>
          </th>
          <th><div class="th normal-right-padding">
            App Name
            <!--
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('appName', 'ASC') "
                                  data-ng-class="{active: row == 'appName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('appName', 'DESC') "
                                  data-ng-class="{active: row == '-appName'}"></span>
            -->
          </div></th>
          <th><div class="th normal-right-padding appDetailsHeader">
            App Type
          </div></th>
          <th><div class="th normal-right-padding">
            Company
            <!--
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('companyName', 'ASC') "
                                  data-ng-class="{active: row == 'companyName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('companyName', 'DESC') "
                                  data-ng-class="{active: row == '-companyName'}"></span>
            -->
          </div></th>
          <th><div class="th normal-right-padding">
            Fortune Rank
            <!--
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('fortuneRank', 'ASC') "
                                  data-ng-class="{active: row == 'fortuneRank'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('fortuneRank', 'DESC') "
                                  data-ng-class="{active: row == '-fortuneRank'}"></span>
            -->
          </div></th>
          <th><div class="th normal-right-padding">
            Mobile Priority
          </div></th>
          <th><div class="th normal-right-padding">
            Ad Spend
          </div></th>
          <th><div class="th normal-right-padding">
            User Base Size
          </div></th>
          <th><div class="th normal-right-padding">
            Categories

          </div></th>
          <th ng-show="canViewSupportDesk"><div class="th normal-right-padding">
            Support Desk
          </div></th>
          <th><div class="th normal-right-padding">
            Last Updated
            <!--
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('lastUpdated', 'ASC') "
                                  data-ng-class="{active: row == 'lastUpdated'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('lastUpdated', 'DESC') "
                                  data-ng-class="{active: row == '-lastUpdated'}"></span>
            -->
          </div></th>
        </tr>
        </thead>

        <tbody data-ng-hide="queryInProgress">
          <tr data-ng-repeat="app in $root.apps">
            <td class="dashboardTableDataCheckbox">
              <checkable-checkbox app="app.app"></checkable-checkbox>
            </td>
            <td class="resultsTableAppIcon">
              <span>
                <img ng-src="{{app.app.appIcon.large}}" /> <a href="#/app/{{appPlatform}}/{{app.app.id}}" target="_blank">{{app.app.name}}</a>
              </span>
            </td>
            <td class="appTypeIndicator">
              <i class="fa fa-2" ng-class="app.app.type == 'IosApp' ? 'fa-apple' : 'fa-android'"></i>
              <!--
              <span ng-if="app.app.type == 'IosApp'">iOS</span>
              <span ng-if="app.app.type == 'AndroidApp'">Android</span>
              -->
            </td>
            <td><a href="#/company/{{app.company.id}}" target="_blank">{{app.company.name}}</a></td>
            <td>{{app.company.fortuneRank}}</td>
            <td class="dashboardMobilePriorityView">
              <i class="fa fa-circle" ng-class="'status-' + app.app.mobilePriority"></i>{{app.app.mobilePriority | capitalize}}
            </td>
            <td  class="dashboardAdSpendView">
              <i class="fa fa-circle" ng-class="'status-' + app.app.adSpend"></i>{{app.app.adSpend ? 'Yes' : 'No'}}
            </td>
            <td>{{app.app.userBase | capitalize}}</td>
            <td>{{app.app.categories.join(', ')}}</td>
            <td ng-show="canViewSupportDesk">{{app.app.supportDesk | supportDeskName}}</td>
            <td>{{app.app.lastUpdated | date : 'shortDate'}}</td>
          </tr>
        </tbody>
      </table>
      <div id="dashboardTableStatusMessage" data-ng-show="queryInProgress || !($root.numApps > 0)">
        <h5 data-ng-hide="$root.appNum > 0 || queryInProgress">No Items</h5>
        <div data-ng-show="queryInProgress" id="wrap_spinner">
          <div class="loading outer">
            <div class="loading inner"></div>
          </div>
        </div>
      </div>

      <!-- Modals -->
      <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete-selected.html'"></aside>

    </div>

    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <!--
                      <span>
                          Show
                          <select data-ng-model="numPerPage"
                                  data-ng-options="num for num in numPerPageOpt"
                                  data-ng-change="onNumPerPageChange()">
                          </select>
                          entries per page
                      </span>
          -->
        </div>
        <!--
        <div class="col-md-6 text-right pagination-container">
          <pagination class="pagination-sm"
                      ng-model="currentPage"
                      total-items="numApps"
                      max-size="4"
                      ng-change="select(currentPage, tags)"
                      items-per-page="numPerPage"
                      rotate="false"
                      boundary-links="true"></pagination>
        </div>
        -->
      </div>
    </footer>
  </section>

</div>
