
<div class="page page-table" data-ng-controller="TableCtrl">

  <section class="panel panel-default table-dynamic" data-ng-controller="ListCtrl">
    <div class="panel-heading" id="listViewTableHeading">
     <strong><i class="fa fa-list panel-ico"></i>Lists</strong>
     <button type="submit" class="btn btn-primary pull-right" ng-click="">Export List to CSV</button>
     <button type="submit" class="btn btn-danger pull-right" ng-click="">Delete Selected</button>
     <span class="ui-select pull-right">
      <select ng-model="lists" ng-change="">
        <option value="">Copy Selected to List</option>
        <option ng-repeat="option in usersLists" value="{{option}}">{{option}}</option>
      </select>
     </span>


    </div>



    <div id="results-table-wrapper">

      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th><div class="th">
          </div></th>
          <th><div class="th">
            App Name
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('appName', 'ASC') "
                                  data-ng-class="{active: row == 'appName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('appName', 'DESC') "
                                  data-ng-class="{active: row == '-appName'}"></span>
          </div></th>
          <th><div class="th">
            Company
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('companyName', 'ASC') "
                                  data-ng-class="{active: row == 'companyName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('companyName', 'DESC') "
                                  data-ng-class="{active: row == '-companyName'}"></span>
          </div></th>
          <th><div class="th">
            Fortune Rank
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('fortuneRank', 'ASC') "
                                  data-ng-class="{active: row == 'fortuneRank'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('fortuneRank', 'DESC') "
                                  data-ng-class="{active: row == '-fortuneRank'}"></span>
          </div></th>
          <th><div class="th">
            Mobile Priority
          </div></th>
          <th><div class="th">
            Ad Spend
          </div></th>
          <th><div class="th">
            User Base Size
          </div></th>
          <th><div class="th">
            Categories

          </div></th>
          <th><div class="th">
            Last Updated
                            <span class="glyphicon glyphicon-chevron-up"
                                  data-ng-click=" sortApps('lastUpdated', 'ASC') "
                                  data-ng-class="{active: row == 'lastUpdated'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                                  data-ng-click=" sortApps('lastUpdated', 'DESC') "
                                  data-ng-class="{active: row == '-lastUpdated'}"></span>
          </div></th>
          <th><div class="th">
            Details
          </div></th>
        </tr>
        </thead>

        <tbody data-ng-hide="$root.dashboardSearchButtonDisabled">
        <tr data-ng-repeat="app in $root.apps">
          <td class="dashboardTableDataCheckbox">
            <input type="checkbox" name="appId" value="{{app.app.id}}" ng-checked="selectedAppsForList.indexOf(app.app.id) > -1" ng-click="addAppToList(app.app.id)">
          </td>
          <td><a href="#/app/{{appPlatform}}/{{app.app.id}}" target="_blank">{{app.app.name}}</a></td>
          <td><a href="#/company/{{app.company.id}}" target="_blank">{{app.company.name}}</a></td>
          <td>{{app.company.fortuneRank}}</td>
          <td>{{app.app.mobilePriority}}</td>
          <td>{{app.app.adSpend}}</td>
          <td>{{app.app.userBase}}</td>
          <td>{{app.app.categories.join(', ')}}</td>
          <td>{{app.app.lastUpdated | date : 'shortDate'}}</td>
          <td><a href="#/app/{{appPlatform}}/{{app.app.id}}" target="_blank">Details</a></td>
        </tr>
        </tbody>
      </table>
      <div id="dashboardTableStatusMessage" data-ng-show="$root.dashboardSearchButtonDisabled || !($root.numApps > 0)">
        <h5 data-ng-hide="$root.appNum > 0 || $root.dashboardSearchButtonDisabled">No Results</h5>
        <div data-ng-show="$root.dashboardSearchButtonDisabled" id="wrap_spinner">
          <div class="loading outer">
            <div class="loading inner"></div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Methodology Behind the Filters</h3>
            </div>
            <div class="modal-body">
              <h4>Mobile Priority</h4>
              <p>Mobile Priority: how much the company cares about the app. Use this to filter out apps that are not actively being developed or marketed.</p>
              <p>The Mobile Priority ranking is continuously improving as we collect more data and refine the algorithm.</p>
                Currently, the rank is a function of how recently their app has been updated, and whether they advertise on Facebook. High: they have advertised on Facebook or have updated within the past two months. Medium: Updated within last 2 - 4 months. Low: Last update > 4 months ago.
              </p>

              <h4>Fortune Rank</h4>
              <p>Fortune Rank: filters for companies in either the Fortune 500 or Fortune 1000 lists.</p>

              <h4>Advertising on Facebook</h4>
              <p>Advertising on Facebook: whether the company is paying for ads on Facebook to download the app. This is the leading indicator that the app has marketing budget.</p>
              <p>We determine this via a network of hundreds of people who report to us what mobile app adds they see when on Facebook.</p>
              <p>We are continuing to refine this tool to give more specifics. As of its current state, we’re denoting whether a company advertises on Facebook in a binary
                fashion – either they do (if an ad has been reported) or they don’t.</p>

              <h4>User Base Size</h4>
              <p>User Base Size: an estimate of how many active users an app has.</p>
              <p>We derive this estimate based off of how many ratings per day an app has. Elite: 50,000 total ratings or 7 ratings per day average (for current release).
                Strong: 10,000 total ratings or 1 rating per day average (for current release). Moderate: 100 total ratings or 0.1 average rating per day average
                (for current release). Weak: anything less.</p>

              <h4>Last Updated</h4>
              <p>Last Updated: length of time from last update to app, as reported on the iOS and Google Play stores.</p>

              <h4>Categories</h4>
              <p>Categories: the category/genre of the app (same as iOS App Store categories).</p>

              <h4>Custom Keyword Field</h4>
              <p>Custom Keyword: searches all app names for a match to the supplied keyword.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <!--
                      <span>
                          Show
                          <select data-ng-model="numPerPage"
                                  data-ng-options="num for num in numPerPageOpt"
                                  data-ng-change="onNumPerPageChange()">
                          </select>
                          entries per page
                      </span>
          -->
        </div>
        <div class="col-md-6 text-right pagination-container">
          <pagination class="pagination-sm"
                      ng-model="currentPage"
                      total-items="numApps"
                      max-size="4"
                      ng-change="select(currentPage, tags)"
                      items-per-page="numPerPage"
                      rotate="false"
                      boundary-links="true"></pagination>
        </div>
      </div>
    </footer>
  </section>

</div>
