
<!-- Logo -->
<div class="logo" data-ng-controller="MainCtrl">
    <a href="#/">
        <img src="images/mighty_signal_logo_white.png" height="40px"/>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="MainCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/dashboard"> <i class="fa fa-search"></i> <span>Search</span></a>
        </li>
        <li>
            <a href="/404"><i class="fa fa-eye"></i><span>Watch</span></a>
        </li>
        <li>
            <a href="/404"><i class="fa fa-sign-out"></i><span>Log Out</span></a>
        </li>
    </ul>

</div>
