
<!-- Logo -->
<div class="logo" data-ng-controller="MainCtrl">
    <a href="#/">
        <img src="/app/app/images/mighty_signal_logo_white.png" height="50px"/>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="MainCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/"> <i class="fa fa-search"></i> <span>Search</span></a>
        </li>
        <li>
            <a href="#/lists"><i class="fa fa-check-square-o"></i><span>Lists</span></a>
            <ul style="display: block;">
              <li><a href="#/forms/elements"><i class="fa fa-angle-right"></i><span>List 1</span></a></li>
              <li><a href="#/forms/validation"><i class="fa fa-angle-right"></i><span>List 2</span></a></li>
              <li><a href="#/forms/wizard"><i class="fa fa-angle-right"></i><span>List 3</span></a></li>
              <li><a href="#/forms/layouts"><i class="fa fa-angle-right"></i><span>List 4</span></a></li>
            </ul>
        </li>
        <!--
        <li>
            <a href="/404"><i class="fa fa-sign-out"></i><span>Log Out</span></a>
        </li>
        -->
    </ul>

</div>
