
<!-- Logo -->
<div class="logo" data-ng-controller="MainCtrl">
    <a href="#/">
        <img src="/app/app/images/mighty_signal_logo_white.png" height="50px"/>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="MainCtrl"
        data-slim-scroll>
        <li ng-class="{active: $route.current.activeTab == 'search'}">
            <a href="#/"> <i class="fa fa-search"></i> <span>Search</span></a>
        </li>
        <li data-ng-controller="ListCtrl" id="lists-sidebar-navigation" ng-class="{active: $route.current.activeTab == 'lists'}">
            <a href="#/lists"><i class="fa fa-check-square-o"></i><span>Lists</span></a>
            <ul>
              <li ng-repeat="list in usersLists"><a href="#/lists" ng-click="getList(list.id); $scope.selectedAppsForList = []"><i class="fa fa-angle-right"></i><span>{{list.name}}</span></a></li>
              <li><a href="" data-toggle="modal" data-target="#createNewModal"><i class="fa fa-plus"></i><span>Create New List</span></a></li>
            </ul>
        </li>
        <li ng-click="logUserOut()">
            <a href=""><i class="fa fa-sign-out"></i><span>Log Out</span></a>
        </li>
    </ul>

</div>
