<div id="newsfeedPage" data-ng-controller="NewsfeedCtrl as newsfeedCtrl">
  <div>
    <div class="row newsfeedPageRow" infinite-scroll="loadMoreBatches()" infinite-scroll-container="'#content'" infinite-scroll-distance="1" infinite-scroll-parent="true">
      <div class="btn-group pull-right" role="group" aria-label="followButtons">
        <button type="submit" ng-if="following.length" class="btn btn-bordered-info follow-btn" data-toggle="modal" data-target="#followingModal">Following {{following.length}}</button>
        <button type="submit" class="btn btn-info follow-btn" data-toggle="modal" data-target="#followMoreModal">
          Follow new Apps & SDKs
          &nbsp;
          <i class="fa fa-plus-circle"></i>
        </button>
      </div>
      <h5>Filter by App Headquarter Location</h5>
      <div class="location-filter">
        <angucomplete-alt id="sdk-autocomplete-filter"
                         placeholder="Country"
                         pause="100"
                         selected-object="selectedCountry"
                         remote-url="{{locationAutocompleteUrl()}}"
                         remote-url-data-field="results"
                         search-fields="name"
                         title-field="name"
                         id-field="id"
                         clear-selected="true"
                         image-field="icon"
                         minlength="1"
                         input-class="form-control form-control-small autocomplete-filter">
        </angucomplete-alt>
        <div class="ui-tags-input" ng-if="locations.length">
          <ul class="tags">
            <li ng-repeat="location in locations" class="tag-item">
              <img ng-src="{{location.icon}}" />
              {{location.name}}
              <a class="remove-button" ng-click="removeLocation($index)">×</a>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="empty-message" ng-hide="newsfeedCtrl.weeks.length || !initialPageLoadComplete">
        You are not following any apps/SDKs or your headquarter filters are too specific. Follow some more apps/SDKs to see your Timeline!
      </h4>
      <div ng-if="initialPageLoadComplete || newsfeedCtrl.weeks.length" ng-repeat="week in newsfeedCtrl.weeks" >
        <h4 class="week">{{week.label}}</h4>
        <div data-ng-repeat="platform in week.platforms">
          <div class="platform">
            <span class="icon fa" ng-class="platform.platform == 'ios' ? 'fa-apple' : 'fa-android'"></span>
            <span>{{platform.platform == 'ios' ? 'iOS' : 'Android'}}</span>
          </div>
          <div data-ng-repeat="batch in platform.batches" class="panel panel-default" ng-init="appWord = (batch.activities_count == 1 ? 'app' : 'apps') + (batch.major_activities.length > 0 ? ',' : '')">
          <div class="panel-heading flex" ng-click="isCollapsed = !isCollapsed; loadBatch(batch.id, batch, 1, batch.pageSize)">
            <div>
              <div ng-if="batch.owner.type == 'IosApp' || batch.owner.type == 'AndroidApp'">
                <a href="#/app/{{batch.owner.platform}}/{{batch.owner.id}}" target="_blank">
                  <div>
                    <img ng-src="{{batch.owner.icon}}" ng-show="batch.owner.icon">
                    {{batch.owner.name}}&nbsp;
                  </div>
                </a>
                <div ng-if="batch.activity_type == 'install'">
                  - {{batch.activities_count}} new {{batch.activities_count == 1 ? 'SDK' : 'SDKs'}} <span class="{{batch.activity_type}}">&nbsp;{{batch.activities_count == 1 ? 'was' : 'were'}} seen</span>
                </div>
                <div ng-if="batch.activity_type == 'uninstall'">
                  - {{batch.activities_count}} {{batch.activities_count == 1 ? 'SDK' : 'SDKs'}} <span class="{{batch.activity_type}}">&nbsp;removed</span>
                </div>
              </div>
              <div ng-if="batch.owner.type == 'IosSdk' || batch.owner.type == 'AndroidSdk'">
                <a href="#/sdk/{{batch.owner.platform}}/{{batch.owner.id}}" target="_blank">
                  <div>
                    <img ng-src="{{batch.owner.icon}}" ng-show="batch.owner.icon">
                    {{batch.owner.name}}&nbsp;
                  </div>
                </a>
                <div ng-if="batch.activity_type == 'install'">
                  - <span class="{{batch.activity_type}}">&nbsp;seen for the first time&nbsp;</span> in {{batch.activities_count}} {{appWord}}
                </div>
                <span ng-if="batch.activity_type == 'uninstall'">
                  - <span class="{{batch.activity_type}}">removed</span> from {{batch.activities_count}} {{appWord}}
                </span>
              </div>
              <div ng-if="batch.owner.type == 'AdPlatform'">
                <img ng-src="{{batch.owner.icon}}" ng-show="batch.owner.icon">
                {{batch.owner.platform}} Ads&nbsp;
                <span>
                  - <span class="{{batch.activity_type}}">spotted {{batch.activities_count}} {{batch.activities_count == 1 ? 'ad' : 'ads'}}</span> for {{batch.apps_count}} {{batch.apps_count == 1 ? 'app' : 'apps'}}
                </span>
              </div>
              <div ng-if="batch.major_activities.length > 0">
                &nbsp;including: &nbsp;
                <div class="majorAppContainer">
                  <div ng-repeat="activity in batch.major_activities" ng-init="app = activity.app">
                    <a
                    href="#/app/{{batch.owner.platform}}/{{app.id}}"
                    target="_blank"
                    class="app-icon-link"
                    uib-popover-template="'majorAppPopover.html'"
                    popover-placement="auto top"
                    popover-trigger="mouseenter"
                    popover-class="majorAppPopover"
                    ng-click="$event.stopPropagation(); majorAppIconClicked(activity, batch.owner, batch.activity_type)"
                    ng-mouseover="majorAppIconHovered(activity, batch.owner, batch.activity_type)"
                    >
                    <img ng-src="{{app.icon}}">
                  </a>
                </div>
                </div>
            </div>
            <script type="text/ng-template" id="majorAppPopover.html">
              <div class="majorAppPopover">
                <img class="popoverAppIcon" ng-src="{{app.icon}}">
                <div class="popoverAppText">
                  <p>{{app.name}}</p>
                  <p>{{app.publisher.name}}</p>
                  <p>{{batch.activity_type == "install" ? "First seen" : "Last seen"}} {{calculateDaysAgo(activity.happened_at)}}</p>
                </div>
              </div>
            </script>
            </div>
            <div class="export" ng-if="batch.owner.type != 'IosApp' && batch.owner.type != 'AndroidApp'">
              <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="$event.stopPropagation(); exportBatch(batch.id, batch);">EXPORT TO CSV</a>
            </div>
          </div>
          <div class="panel-body feed-body {{batch.activity_type}}" uib-collapse="isCollapsed">
            <div class="media">
              <div class="media-body" ng-if="batch.owner.type == 'AdPlatform'">
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                      <th><div class="th normal-right-padding">
                        App Name
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Publisher
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Category
                      </div></th>
                      <th><div class="th normal-right-padding">
                        User Base Size
                      </div></th>
                      <th ng-if="canViewAdAttribution"><div class="th normal-right-padding">
                        Ad Attribution SDKs
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Details
                      </div></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr data-ng-repeat="activity in batch.activities">
                      <td class="resultsTableAppIcon">
                        <span>
                          <a ng-href="#/app/{{activity.other_owner.app.platform}}/{{activity.other_owner.app.id}}" target="_blank" ng-click="clickedTimelineItem(batch, activity)">
                            <img ng-src="{{activity.other_owner.app.icon}}" ng-show="activity.other_owner.app.icon">
                            {{activity.other_owner.app.name}}
                          </a>
                        </span>
                        <span class="badge badge-primary" ng-if="0 <= activity.other_owner.app.releasedDays && activity.other_owner.app.releasedDays <= 15">New</span>
                      </td>
                      <td><a ng-if="activity.other_owner.app.publisher.name && activity.other_owner.app.publisher.id" href="#/publisher/{{activity.other_owner.app.platform}}/{{activity.other_owner.app.publisher.id}}" ng-click="clickedTimelineItem(batch, activity, 'Publisher')" target="_blank">{{activity.other_owner.app.publisher.name}}</a>
                      <span ng-if="activity.other_owner.app.publisher.name && !activity.other_owner.app.publisher.id">{{activity.other_owner.app.publisher.name}}</span>
                      </td>
                      <td>{{activity.other_owner.app.categories.join(', ')}}</td>
                      <td>
                        <span ng-if="activity.other_owner.app.platform != 'ios'">{{activity.other_owner.app.userBase | capitalize}}</span>
                        <span ng-if="activity.other_owner.app.platform == 'ios' && activity.other_owner.app.userBases.length == 1">
                          <img ng-src="/lib/images/flags/{{activity.other_owner.app.userBase.country_code.toLowerCase()}}.png" />
                          {{activity.other_owner.app.userBase.user_base | capitalize}}
                        </span>
                        <a ng-if="activity.other_owner.app.platform == 'ios' && activity.other_owner.app.userBases.length > 1" popover-trigger="mouseenter" popover-placement="auto left" uib-popover-template="'userBaseTemplateAds.html'" href="javascript:void(0)" class="popover-link">
                          <img ng-src="/lib/images/flags/{{activity.other_owner.app.userBase.country_code.toLowerCase()}}.png" />
                          {{activity.other_owner.app.userBase.user_base | capitalize}}
                        </a>

                        <script ng-if="activity.other_owner.app.platform == 'ios' && activity.other_owner.app.userBases.length > 1" type="text/ng-template" id="userBaseTemplateAds.html">
                          <ul class="international-data">
                            <li ng-repeat="row in activity.other_owner.app.userBases">
                              <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
                              <span class="country">{{row.country}}:</span>
                              <span>{{row.user_base | capitalize}}</span>
                            </li>
                          </ul>
                        </script>
                      </td>
                      <td ng-if="canViewAdAttribution && !activity.other_owner.ad_attribution_sdks.length">None</td>
                      <td ng-if="canViewAdAttribution && activity.other_owner.ad_attribution_sdks.length">
                        <a ng-repeat="sdk in activity.other_owner.ad_attribution_sdks" uib-tooltip="{{sdk['name']}}" ng-href="{{'#/sdk/ios/' + sdk['id']}}" target="_blank" ng-click="clickedTimelineItem(batch, activity, 'IosSdk')">
                          <img ng-src="{{sdk['favicon']}}" ng-show="sdk['favicon']" width="16" height="16">
                        </a>
                      </td>
                      <td>
                        <span>
                          Spotted {{activity.impression_count}} ads
                          (Last: {{calculateDaysAgo(activity.happened_at, true)}})
                          <br>
                          <a href="javascript:void(0)" ng-click="openAdModal(batch, $index)">Creative</a><span ng-if="batch.activities[$index].other_owner.ad_info_image">
                     <!--      - <a href="javascript:void(0)" ng-click="openAdInfoModal(batch, $index)">Targeting</a></span> -->
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="media-body" ng-if="batch.owner.type == 'IosSdk' || batch.owner.type == 'AndroidSdk'">
                <table class="table table-striped table-responsive">
                  <thead>
                    <tr>
                      <th><div class="th normal-right-padding">
                        App Name
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Publisher
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Mobile Priority
                      </div></th>
                      <th><div class="th normal-right-padding">
                        Ad Spend
                      </div></th>
                      <th><div class="th normal-right-padding">
                        User Base Size
                      </div></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr data-ng-repeat="activity in batch.activities">
                      <td class="resultsTableAppIcon">
                          <span>
                            <a ng-href="{{(activity.other_owner.type == 'IosSdk' || activity.other_owner.type == 'AndroidSdk') ? '#/sdk/' + activity.other_owner.platform + '/' + activity.other_owner.id : '#/app/' + activity.other_owner.platform + '/' + activity.other_owner.id}}" target="_blank" ng-click="clickedTimelineItem(batch, activity)">
                              <img ng-src="{{activity.other_owner.icon}}" ng-show="activity.other_owner.icon">
                              {{activity.other_owner.name}}
                            </a>
                          </span>
                          <span class="badge badge-primary" ng-if="0 <= activity.other_owner.releasedDays && activity.other_owner.releasedDays <= 15">New</span>
                      </td>
                      <td>
                        <a ng-if="activity.other_owner.publisher.name && activity.other_owner.publisher.id" href="#/publisher/{{activity.other_owner.platform}}/{{activity.other_owner.publisher.id}}" ng-click="clickedTimelineItem(batch, activity, 'Publisher')" target="_blank">{{activity.other_owner.publisher.name}}</a>
                        <span ng-if="activity.other_owner.publisher.name && !activity.other_owner.publisher.id">{{activity.other_owner.publisher.name}}</span>
                      </td>
                      <td class="dashboardMobilePriorityView">
                        <span ng-if="activity.other_owner.mobilePriority"><i class="fa fa-circle" ng-class="'status-' + activity.other_owner.mobilePriority"></i>{{activity.other_owner.mobilePriority | capitalize}}</span>
                      </td>
                      <td class="dashboardAdSpendView">
                        <span ng-if="!isNaN(activity.other_owner.adSpend)">
                          <i class="fa fa-circle" ng-class="'status-' + activity.other_owner.adSpend"></i>{{activity.other_owner.adSpend ? 'Yes' : 'No'}}
                        </span>
                      </td>
                      <td>
                        <span ng-if="activity.other_owner.platform != 'ios'">{{activity.other_owner.userBase | capitalize}}</span>
                        <span ng-if="activity.other_owner.platform == 'ios' && activity.other_owner.userBases.length == 1">
                          <img ng-src="/lib/images/flags/{{activity.other_owner.userBase.country_code.toLowerCase()}}.png" />
                          {{activity.other_owner.userBase.user_base | capitalize}}
                        </span>
                        <a ng-if="activity.other_owner.platform == 'ios' && activity.other_owner.userBases.length > 1" popover-trigger="mouseenter" popover-placement="auto left" uib-popover-template="'userBaseTemplate.html'" href="javascript:void(0)" class="popover-link">
                          <img ng-src="/lib/images/flags/{{activity.other_owner.userBase.country_code.toLowerCase()}}.png" />
                          {{activity.other_owner.userBase.user_base | capitalize}}
                        </a>
                        <script ng-if="activity.other_owner.platform == 'ios' && activity.other_owner.userBases.length > 1" type="text/ng-template" id="userBaseTemplate.html">
                          <ul class="international-data">
                            <li ng-repeat="row in activity.other_owner.userBases">
                              <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
                              <span class="country">{{row.country}}:</span>
                              <span>{{row.user_base | capitalize}}</span>
                            </li>
                          </ul>
                        </script>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="media-body" ng-if="batch.owner.type == 'IosApp' || batch.owner.type == 'AndroidApp'">
                <div class="row">
                  <div class="col-md-6">
                    <ul ng-show="batch.activities">
                      <li ng-repeat="activity in batch.activities.slice(0, 10)">
                        <a ng-href="{{(activity.other_owner.type == 'IosSdk' || activity.other_owner.type == 'AndroidSdk') ? '#/sdk/' + activity.other_owner.platform + '/' + activity.other_owner.id : '#/app/' + activity.other_owner.platform + '/' + activity.other_owner.id}}" target="_blank" ng-click="clickedTimelineItem(batch, activity)">
                          <img ng-src="{{activity.other_owner.icon}}" ng-show="activity.other_owner.icon">
                          {{activity.other_owner.name}}
                        </a>
                         - {{calculateDaysAgo(activity.happened_at)}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul ng-show="batch.activities">
                      <li ng-repeat="activity in batch.activities.slice(10,21)">
                        <a ng-href="{{(activity.other_owner.type == 'IosSdk' || activity.other_owner.type == 'AndroidSdk') ? '#/sdk/' + activity.other_owner.platform + '/' + activity.other_owner.id : '#/app/' + activity.other_owner.platform + '/' + activity.other_owner.id}}" target="_blank" ng-click="clickedTimelineItem(batch, activity)">
                          <img ng-src="{{activity.other_owner.icon}}" ng-show="activity.other_owner.icon">
                          {{activity.other_owner.name}}
                        </a>
                         - {{calculateDaysAgo(activity.happened_at)}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-ng-show="batch.isLoading && !batch.activities" id="wrap_spinner">
                <div class="loading outer">
                  <div class="loading inner"></div>
                </div>
              </div>
              <div class="row" ng-if="batch.activities_count > batch.pageSize">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right pagination-container">
                  <uib-pagination class="pagination-sm"
                              ng-model="batch.currentPage"
                              total-items="batch.apps_count || batch.activities_count"
                              max-size="8"
                              ng-change="loadBatch(batch.id, batch, batch.currentPage, batch.pageSize)"
                              items-per-page="batch.pageSize"
                              rotate="false"
                              boundary-links="true"></uib-pagination>

                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div id="wrap_spinner" ng-if="!initialPageLoadComplete">
        <div class="loading outer">
          <div class="loading inner"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" class="follow" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Following</h3>
        </div>
        <div class="modal-body">
          <ul class="following">
            <li ng-repeat="follow in following">
              <a ng-if="follow.type == 'IosSdk' || follow.type == 'AndroidSdk'" href="#/sdk/{{follow.type == 'IosSdk' ? 'ios' : 'android'}}/{{follow.id}}" target="_blank">
                <img ng-src="{{follow.icon}}" ng-show="follow.icon">
                {{follow.name}} - {{follow.platform == 'ios' ? 'iOS' : 'Android'}} SDK
              </a>
              <a ng-if="follow.type == 'IosApp' || follow.type == 'AndroidApp'" href="#/app/{{follow.type == 'IosApp' ? 'ios' : 'android'}}/{{follow.id}}" target="_blank">
                <img ng-src="{{follow.icon}}" ng-show="follow.icon">
                {{follow.name}} - {{follow.platform == 'ios' ? 'iOS' : 'Android'}} App
              </a>
              <div id="followButton">
                <button type="submit" class="btn btn-primary btn-block" ng-click="newFollow(follow.id, follow.type, follow.name, follow, 'following')" ng-if="!follow.following">Follow</button>
                <button type="submit" class="btn btn-danger btn-block" ng-click="newFollow(follow.id, follow.type, follow.name, follow, 'following')" ng-if="follow.following">Unfollow</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="followMoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="ModalSearchCtrl as modalSearchCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Follow new Apps & SDKs</h3>
        </div>
        <div class="modal-body">
          <div id="mainSearchBox" class="pull-right">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="modalSearchCtrl.searchInput" ng-change="modalSearchCtrl.changeSearchInput()" placeholder="{{modalSearchCtrl.searchPlaceholderText()}}" autofocus>
            </div>
          </div>
          <div class="pull-left">
            <custom-platform-select custom-search-platform="modalSearchCtrl.platform"></custom-platform-select>
          </div>
          <div data-ng-show="modalSearchCtrl.queryInProgress" id="wrap_spinner">
            <div class="loading outer">
              <div class="loading inner"></div>
            </div>
          </div>
          <ul class="following" ng-hide="modalSearchCtrl.queryInProgress">
            <li data-ng-repeat="result in modalSearchCtrl.results">
              <a ng-if="result.type == 'IosSdk' || result.type == 'AndroidSdk'" href="#/sdk/{{result.type == 'IosSdk' ? 'ios' : 'android'}}/{{result.id}}" target="_blank">
                <img ng-src="{{result.icon}}" ng-show="result.icon">
                {{result.name}}
              </a>
              <a ng-if="result.type == 'IosApp' || result.type == 'AndroidApp'" href="#/app/{{result.type == 'IosApp' ? 'ios' : 'android'}}/{{result.id}}" target="_blank">
                <img ng-src="{{result.icon}}" ng-show="result.icon">
                {{result.name}}
              </a>
              <div id="followButton">
                <button type="submit" class="btn btn-primary btn-block" ng-click="newFollow(result.id, result.type, result.name, result, 'followMore')" ng-if="!result.following">Follow</button>
                <button type="submit" class="btn btn-danger btn-block" ng-click="newFollow(result.id, result.type, result.name, result, 'followMore')" ng-if="result.following">Unfollow</button>
              </div>
            </li>
            <li ng-show="modalSearchCtrl.results && !modalSearchCtrl.results.length">Oh no. There were no results.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="ListCtrl">
    <!-- Modals -->
    <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>
    <aside ng-include="'/app/app/views/modals/list-delete.html'"></aside>
    <aside ng-include="'/app/app/views/modals/list-delete-selected.html'"></aside>
    <aside ng-include="'/app/app/views/modals/export-permissions.html'"></aside>

  </div>

</div>
