<div id="companyPage" data-ng-controller="PublisherDetailsCtrl as publisherDetailsCtrl">

  <div id="wrap_spinner" ng-if="!initialPageLoadComplete">
    <div class="loading outer">
      <div class="loading inner"></div>
    </div>
  </div>

  <div ng-if="initialPageLoadComplete" data-ng-controller="ListCtrl">

    <header class="page-main-header ng-scope">
      <div class="row publisher-header">
        <div class="col-md-1" id="appPageLogoBox" ng-if="publisherData.logo">
          <img ng-src="{{publisherData.logo}}" id="appDetailsPageAppLogo" />
        </div>
        <div class="col-md-6" ng-class="{ 'no-logo': !publisherData.logo }">
          <h4>
            {{publisherData.name}}
          </h4>
          <div class="app-details">
            <div>
              <i class="icon fa" ng-class="appPlatform == 'ios' ? 'fa-apple' : 'fa-android'"></i>
              <span>{{appPlatform == 'ios' ? 'iOS' : 'Android'}} Publisher</span>
            </div>
            <div>
              <i class="icon fa fa-mobile"></i>
              <span>{{numApps}} {{numApps > 1 ? 'apps' : 'app'}}</span>
            </div>
          </div>
        </duv>
      </div>
    </header>


    <div class="row companyPageRow">
      <div class="col-md-6 info-column">
        <div ng-if="canViewStorewideSdks || canViewSdks" data-ng-include="'/app/app/views/publisher-sdks.html'"></div>
      </div>

      <div class="col-md-6 info-column">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>General Details</strong></div>
          <div class="panel-body">
            <div class="media">
              <div class="media-body">

                <ul class="list-unstyled list-info">
                  <li ng-if="isAdminAccount">
                    <span class="icon fa fa-star"></span>
                    <label>Major Publisher:</label>
                    <div class="actionButton">
                      <button type="submit" ng-class="publisherData.isMajorPublisher ? 'btn btn-danger btn-block' : 'btn btn-primary btn-block'" ng-click="handleTagButtonClick()">{{publisherData.isMajorPublisher ? "Untag as major publisher" : "Tag as major publisher" }}</button>
                    </div>
                  </li>
                  <li id="linkedinLinksList">
                    <span class="icon fa fa-linkedin"></span>
                    <label>Search LinkedIn:</label>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('company')">Company</button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('sales')">Sales Team</button>
                    <button type="submit" class="btn btn-default btn-sm" ng-click="onLinkedinButtonClick('marketing')">Marketing Team</button>
                  </li>
                  <li ng-if="publisherData.crunchbase">
                    <span class="icon fa fa-line-chart"></span>
                    <label>Crunchbase:</label>
                    <a
                      href="https://www.crunchbase.com/{{publisherData.crunchbase}}"
                      target="_blank"
                      ng-click="crunchbaseLinkClicked()">
                      crunchbase.com/{{publisherData.crunchbase}}
                    </a>
                  </li>
                  <li ng-if="publisherData.fortuneRank">
                    <span class="icon fa fa-bar-chart"></span>
                    <label>Fortune Rank:</label>
                    {{publisherData.fortuneRank}}
                  </li>
                  <li ng-if="publisherData.websites">
                    <span class="icon fa fa-globe"></span>
                    <label>Website<span ng-if="publisherData.websites.length > 1">s</span>:</label>
                    <ul class="websites">
                      <li ng-repeat="website in publisherData.websites | limitTo:10">
                        <span>
                          <a href="{{website}}" class="companyPageWebsiteLink" target="_blank">{{website}}</a>
                        </span>
                      </li>
                    </ul>
                  </li>
                  <li ng-if="publisherData.headquarters.length">
                    <span class="icon fa fa-home"></span>
                    <label>Headquarters</label>
                    <ul class="nested">
                      <li ng-repeat="location in publisherData.headquarters">
                        <label title="{{location.domain}}">{{location.domain}}</label>
                        {{location.street_number}} {{location.street_name}}{{location.street_name ? ',' : ''}} {{location.city}}{{location.city ? ',' : ''}} {{location.state_code}} {{location.postal_code}}{{location.postal_code ? ',' : ''}} {{location.country_code}}
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><strong>Contacts</strong></div>
          <div class="panel-body">
            <div class="media">
              <div class="media-body">
                <ul class="list-unstyled list-info">
                  <li id="showCompanyEmailsButtonLi">
                    <div id="showCompanyEmailsContainer">
                      <div id="showCompanyEmailsTextField">
                        <input
                          ng-model="companyContactFilter"
                          type="text"
                          class="form-control"
                          ng-hide="contactsLoading"
                          placeholder="(Optional) Find contacts by job title. e.g. Sales, marketing, CEO"
                          ng-enter="getCompanyContacts(companyContactFilter, 1, true)">
                      </div>
                      <div id="showCompanyEmailsButton">
                        <button ng-hide="contactsLoading" type="submit" class="btn btn-primary btn-block" ng-click="getCompanyContacts(companyContactFilter, 1, true)">Find Contacts</button>
                      </div>
                    </div>
                    <div id="loadingSpinnerContainer" data-ng-show="contactsLoading">
                      <div class="loading outer">
                        <div class="loading inner"></div>
                      </div>
                    </div>
                  <div data-ng-controller="TableCtrl" ng-show="contactsLoaded && !contactsLoading">
                      <br>
                      <!-- Company Apps Table -->
                      <div class="panel-heading" id="companyContactsTableHeading">
                        <strong><span ng-if="companyContacts.length">{{contactsCount}} Contacts</span></strong>
                        <button type="submit" class="btn btn-default btn-sm pull-right" ng-if="canViewExports" ng-click="exportContactsToCsv(companyContactFilter)">Export Contacts to CSV</button>
                        <button type="submit" class="btn btn-primary pull-right" ng-if="!canViewExports" data-toggle="modal" data-target="#exportPermissions">Export Contacts to CSV</button>
                      </div>

                      <div id="results-table-wrapper">

                        <table id="companyDetailsTable" class="table table-bordered table-striped table-responsive">
                          <thead>
                          <tr>
                            <th><div class="th normal-right-padding">
                              Contact
                            </div></th>
                            <th><div class="th normal-right-padding">
                              Email
                            </div></th>
                          </tr>
                          </thead>

                          <tbody data-ng-hide="publisherDetailsCtrl.queryInProgress">
                            <tr data-ng-repeat="contact in companyContacts">
                              <td>
                                <p class="table-text" ng-if='!contact.linkedin'>{{contact.fullName}} - {{contact.title}}</p>
                                <a
                                  ng-if='contact.linkedin'
                                  href="https://www.linkedin.com/{{contact.linkedin}}"
                                  ng-click="onLinkedinContactClick(contact)" target="_blank"
                                  uib-tooltip-html="linkedinTooltip"
                                >{{contact.fullName}} - {{contact.title}}</a>
                              </td>
                              <td>
                                <div ng-if="contact.email" ng-init="clicked = false">
                                  <p
                                    class="contact-email"
                                    uib-tooltip="{{ clicked ? 'Copied!' : 'Copy to clipboard' }}"
                                    tooltip-placement="auto top"
                                    ng-click-copy="{{contact.email}}"
                                    ng-click="clicked = true; emailCopied(contact)"
                                    ng-mouseenter="clicked = false">
                                    {{contact.email}}
                                  </p>
                                </div>
                                <div ng-if="!contact.email">
                                  <div class="loader" ng-if="contact.isLoading"></div>
                                  <button ng-if="!contact.isLoading" type="submit" class="btn btn-default btn-sm" ng-click="getContactEmail(contact)">Get Email</button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="tableStatusMessage" ng-show="contactsLoading || companyContacts.length < 1">
                          <h5 data-ng-hide="companyContacts.length > 0 || !contactsLoaded">Sorry, No Contacts Available</h5>
                          <div id="loadingSpinnerContainer" data-ng-show="contactsLoading">
                            <div class="loading outer">
                              <div class="loading inner"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row" ng-if="contactsCount > contactsPerPage">
                          <div class="col-md-12 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                        ng-model="currentContactsPage"
                                        total-items="contactsCount"
                                        max-size="8"
                                        ng-change="getCompanyContacts(companyContactFilter, currentContactsPage)"
                                        items-per-page="contactsPerPage"
                                        rotate="false"
                                        boundary-links="true"></uib-pagination>

                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row companyPageRow">
      <div class="page page-table" data-ng-controller="TableCtrl">
        <!-- Company Apps Table -->
        <section class="panel panel-default table-dynamic" data-ng-controller="ListCtrl">
          <div class="panel-heading" id="listViewTableHeading">
            <strong><i class="fa fa-list panel-ico"></i>Apps Owned by {{publisherData.name}}</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="numApps">| {{numApps | number}} apps</span>
            <span class="ui-select pull-right">
              <select id="addSelectedToDropDown" ng-model="addSelectedToDropdown" ng-change="addMixedSelectedTo(addSelectedToDropdown, selectedAppsForList)" ng-disabled="selectedAppsForList < 1">
                <option value="">Add Selected to List</option>
                <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
              </select>
            </span>
          </div>

          <div id="results-table-wrapper">

            <table id="companyDetailsTable" class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th class="selectAllCheckboxHeader">
                    <select-all-checkbox-two apps="apps" selected-apps-for-list="selectedAppsForList"></select-all-checkbox-two>
                  </th>
                  <th class="resultsTableAppIcon"><div class="th normal-right-padding">
                    App Name
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('name', 'asc') "
                          data-ng-class="{active: rowSort == 'name'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('name', 'desc') "
                          data-ng-class="{active: rowSort == '-name'}"></span>
                  </div></th>
                  <th><div class="th normal-right-padding appDetailsHeader">
                    App Type
                  </div></th>
                  <th><div class="th normal-right-padding">
                    Mobile Priority
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('mobile_priority', 'asc') "
                          data-ng-class="{active: rowSort == 'mobile_priority'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('mobile_priority', 'desc') "
                          data-ng-class="{active: rowSort == '-mobile_priority'}"></span>
                  </div></th>
                  <th><div class="th normal-right-padding">
                    Ad Spend
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('facebook_ads', 'desc') "
                          data-ng-class="{active: rowSort == 'facebook_ads'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('facebook_ads', 'asc') "
                          data-ng-class="{active: rowSort == '-facebook_ads'}"></span>
                  </div></th>
                  <th class="resultsTableAppUserbase"><div class="th normal-right-padding">
                    User Base Size
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('user_base_display_score', 'asc') "
                          data-ng-class="{active: rowSort == 'user_base_display_score'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('user_base_display_score', 'desc') "
                          data-ng-class="{active: rowSort == '-user_base_display_score'}"></span>
                  </div></th>
                  <th><div class="th normal-right-padding">
                    Categories
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('categories', 'asc') "
                          data-ng-class="{active: rowSort == 'categories'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('categories', 'desc') "
                          data-ng-class="{active: rowSort == '-categories'}"></span>
                  </div></th>
                  <th ng-show="canViewSupportDesk"><div class="th normal-right-padding">
                    Support Desk
                  </div></th>
                  <th><div class="th normal-right-padding">
                    Last Updated
                    <span class="glyphicon glyphicon-chevron-up"
                          data-ng-click="sortApps('last_updated', 'desc') "
                          data-ng-class="{active: rowSort == 'last_updated'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                          data-ng-click="sortApps('last_updated', 'asc') "
                          data-ng-class="{active: rowSort == '-last_updated'}"></span>
                  </div></th>
                </tr>
              </thead>

              <tbody data-ng-hide="publisherDetailsCtrl.queryInProgress">
                <tr data-ng-repeat="app in apps" class="{{!app.appAvailable ? 'faded' : ''}}">
                  <td class="dashboardTableDataCheckbox">
                    <checkable-checkbox-two app="app" apps="apps" selected-apps-for-list="selectedAppsForList"></checkable-checkbox-two>
                  </td>
                  <td class="resultsTableAppIcon">
                    <span>
                      <a href="#/app/{{app.platform}}/{{app.id}}" ng-click="onAppTableAppClick(app)">
                        <img ng-src="{{app.icon}}" />
                        {{app.name}}
                        <i ng-if="app.price" class="fa fa-2 fa-usd"></i>
                      </a>
                    </span>
                    <span class="badge badge-primary" ng-if="$root.appIsNew(app)">New</span>
                  </td>
                  <td class="appTypeIndicator">
                    <i class="fa fa-2" ng-class="app.type == 'IosApp' ? 'fa-apple' : 'fa-android'"></i>
                  </td>
                  <td class="dashboardMobilePriorityView">
                    <span ng-if="app.mobilePriority"><i ng-if="app.mobilePriority" class="fa fa-circle" ng-class="'status-' + app.mobilePriority"></i>{{app.mobilePriority | capitalize}}</span>
                  </td>
                  <td class="dashboardAdSpendView">
                    <span ng-if="!isNaN(app.adSpend)">
                      <i class="fa fa-circle" ng-class="'status-' + app.adSpend"></i>{{app.adSpend ? 'Yes' : 'No'}}
                    </span>
                  </td>
                  <td class="resultsTableAppUserbase">
                    <span ng-if="app.platform == 'android'">{{app.userBase | capitalize}}</span>
                    <span ng-if="app.platform == 'ios' && app.userBases.length == 1">
                      <img ng-src="/lib/images/flags/{{app.userBase.country_code.toLowerCase()}}.png" />
                      {{app.userBase.user_base | capitalize}}
                    </span>
                    <a ng-if="app.platform == 'ios' && app.userBases.length > 1" popover-trigger="mouseenter" uib-popover-template="'userBaseTemplate.html'" href="javascript:void(0)" class="popover-link">
                      <img ng-src="/lib/images/flags/{{app.userBase.country_code.toLowerCase()}}.png" />
                      {{app.userBase.user_base | capitalize}}
                    </a>
                    <script ng-if="app.platform == 'ios' && app.userBases.length > 1" type="text/ng-template" id="userBaseTemplate.html">
                      <ul class="international-data">
                        <li ng-repeat="row in app.userBases">
                          <div class="flag flag-{{row.country_code.toLowerCase()}} pull-left"></div>
                          <span class="country">{{row.country}}:</span>
                          <span>{{row.user_base | capitalize}}</span>
                        </li>
                      </ul>
                    </script>
                  </td>
                  <td>{{app.categories.join(', ')}}</td>
                  <td ng-show="canViewSupportDesk">{{app.supportDesk | supportDeskName}}</td>
                  <td>
                    <span ng-show="app.lastUpdatedDays >= 0 && app.lastUpdatedDays != null">
                      <span ng-class="getLastUpdatedDaysClass(app.lastUpdatedDays)">
                        <strong>{{app.lastUpdatedDays}}</strong>
                      </span> days ago
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="dashboardTableStatusMessage" data-ng-show="publisherDetailsCtrl.queryInProgress || !(apps.length > 0)">
              <h5 data-ng-hide="apps.length > 0 || publisherDetailsCtrl.queryInProgress">No Items</h5>
              <div data-ng-show="publisherDetailsCtrl.queryInProgress" id="wrap_spinner">
                <div class="loading outer">
                  <div class="loading inner"></div>
                </div>
              </div>
            </div>

          </div>
          <footer class="table-footer" ng-if="numApps > 100">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="numApps"
                            max-size="8"
                            ng-change="submitPageChange(currentPage)"
                            items-per-page="100"
                            rotate="false"
                            boundary-links="true"></uib-pagination>

              </div>
            </div>
          </footer>
        </section>
      </div>

      </div>

      <!-- Modals -->
      <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete-selected.html'"></aside>
      <aside ng-include="'/app/app/views/modals/export-permissions.html'"></aside>

    </div>
  </div>
</div>
