
<header class="page-main-header ng-scope">
  <div class="row">
    <div class="col-md-6">
      <h4>Custom Search</h4>
    </div>
  </div>
  <!--
  <div class="" id="appTypeHeaderLogo">
    <i class="fa fa-2" ng-class="customSearchCtrl.platform == 'ios' ? 'fa-apple' : 'fa-android'"></i>
  </div>
  -->
</header>

<div class="page page-table" data-ng-controller="TableCtrl">

  <section class="panel panel-default table-dynamic" data-ng-controller="ListCtrl">
    <div class="panel-heading" id="listViewTableHeading">
      <strong><i class="fa fa-list panel-ico"></i>Results</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="customSearchCtrl.numApps">| Displaying {{customSearchCtrl.appsDisplayedCount()}} of {{customSearchCtrl.numApps}}</span>
      <span class="ui-select pull-right">
        <select ng-model="addSelectedToDropdown" ng-change="customSearchCtrl.addSelectedTo(addSelectedToDropdown, selectedAppsForList)">
          <option value="">Copy Selected to List</option>
          <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
        </select>
      </span>
    </div>

    <div id="results-table-wrapper" data-ng-controller="CustomSearchCtrl as customSearchCtrl">

      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th class="selectAllCheckboxHeader">
            <select-all-checkbox apps="customSearchCtrl.apps"></select-all-checkbox>
          </th>
          <th><div class="th normal-right-padding">
            SDK Name
          </div></th>
          <th><div class="th normal-right-padding">
            Platform
          </div></th>
          <th><div class="th normal-right-padding appDetailsHeader">
            Website
          </div></th>
          <th><div class="th normal-right-padding">
            Open Source
          </div></th>
        </tr>
        </thead>

        <tbody data-ng-hide="queryInProgress">
        <tr data-ng-repeat="app in customSearchCtrl.apps">
          <td class="dashboardTableDataCheckbox">
            <checkable-checkbox app="app.app" apps="customSearchCtrl.apps"></checkable-checkbox>
          </td>
          <td class="resultsTableAppIcon">
              <span>
                <img ng-src="{{app.app.appIcon.large}}" /> <a href="#/app/{{app.app.type == 'IosApp' ? 'ios' : 'android'}}/{{app.app.id}}">{{app.app.name}}</a>
              </span>
          </td>
          <td ng-if="app.company.name"><a href="#/company/{{app.company.id}}">{{app.company.name}}</a></td>
          <td ng-if="app.company.name"><a href="#/company/{{app.company.id}}">{{app.company.name}}</a></td>
          <td ng-if="app.company.name"><a href="#/company/{{app.company.id}}">{{app.company.name}}</a></td>
        </tr>
        </tbody>
      </table>
      <div id="dashboardTableStatusMessage" data-ng-show="customSearchCtrl.queryInProgress || !(customSearchCtrl.numApps > 0)">
        <h5 data-ng-hide="customSearchCtrl.appNum > 0 || customSearchCtrl.queryInProgress">No Items</h5>
        <div data-ng-show="customSearchCtrl.queryInProgress" id="wrap_spinner">
          <div class="loading outer">
            <div class="loading inner"></div>
          </div>
        </div>
      </div>

      <!-- Modals -->
      <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete.html'"></aside>
      <aside ng-include="'/app/app/views/modals/list-delete-selected.html'"></aside>

    </div>

    <footer class="table-footer">
      <div class="row">
        <div class="col-md-6 page-num-info">
          <!--
              <span>
                  Show
                  <select data-ng-model="numPerPage"
                          data-ng-options="num for num in numPerPageOpt"
                          data-ng-change="onNumPerPageChange()">
                  </select>
                  entries per page
              </span>
          -->
        </div>
        <div class="col-md-6 text-right pagination-container">
          <pagination class="pagination-sm"
                      ng-model="customSearchCtrl.currentPage"
                      total-items="customSearchCtrl.numApps"
                      max-size="8"
                      ng-change="customSearchCtrl.onPageChange(customSearchCtrl.currentPage)"
                      items-per-page="customSearchCtrl.numPerPage"
                      rotate="false"
                      boundary-links="true"></pagination>

        </div>
      </div>
    </footer>

  </section>

</div>
