<script type="text/ng-template" id="help-video.html">
  <div id="videoModalContent" class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title" id="videoModalTitle">How to Use {{$ctrl.type}}</h3>
    </div>
    <div class="modal-body" id="videoModalBody">
      <iframe class="help-video" ng-src="{{$ctrl.videoUrl}}"></iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    </div>
  </div>
</script>
