<div class="modal fade filter-modal" id="userbaseFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">User Base & MAU Filters</h3>
        <p><strong>User Base</strong></p>
        <p>Elite - 50,000 total ratings or 7 ratings per day average (for current release)</p>
        <p>Strong - 10,000 total ratings or 1 rating per day average (for current release)</p>
        <p>Moderate - 100 total ratings or 0.1 average rating per day average (for current release)</p>
        <p>Weak - anything less.</p>
        <p><strong>Active Users</strong></p>
        <p>Note: Active user data is not available for every app</p>
      </div>
      <div class="modal-body">
        <div class="filter-or">
          <p>
            Matches <strong>any</strong> of the following (OR filter) 
            <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addComplexFilter('userbase', 'or')"></i>
          </p>
          <div ng-repeat="filter in complexFilters.userbase.or track by $index">
            <span class="ui-select">
              <select ng-model="filter.status" ng-change="changedComplexFilter(filter, 'status', '{{filter}}', 'userbase', 'or')">
                <option value="0">User Base</option>
                <option value="1">Daily Active Users</option>
                <option value="2">Weekly Active Users</option>
                <option value="3">Monthly Active Users</option>
              </select>
            </span>
            <span class="ui-select" ng-if="!filter.userbase && filter.status == '0'">
              <select ng-model="filter.userbase" ng-options="{id: userbase.id, name: userbase.name} as userbase.name for userbase in userbaseOptions" ng-change="selectedComplexName(filter.userbase, $index, 'userbase', 'or')">
                <option value="">Select</option>
              </select>
            </span>
            <rzslider ng-if="filter.status != '0'" rz-slider-model="filter.userbase.minValue"
                      rz-slider-high="filter.userbase.maxValue"
                      rz-slider-options="filter.userbase.options"></rzslider>
           <!--  <span class="ui-select" ng-if="!filter.userbase && filter.status != 0">
              <select ng-model="filter.userbase" ng-options="{id: engagement.id, name: engagement.name} as engagement.name for engagement in engagementOptions" ng-change="selectedComplexName(filter.userbase, $index, 'userbase', 'or')">
                <option value=""># of Users</option>
              </select>
            </span> -->
            <span class='sdk-filter' ng-if="filter.userbase && filter.status == '0'">
              {{filter.userbase.name}}
              <a class="remove-button" ng-click="removeComplexNameFilter('userbase', 'or', $index)">×</a>
            </span>

            <i class="fa fa-minus-circle" aria-hidden="true" ng-if="filter.status != '0' || complexFilters.userbase.or.length > 1 || complexFilters.userbase.or[$index].userbase" ng-click="removeComplexFilter('userbase', 'or', filter)"></i>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>