# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ba97723a703ca6aeeb1eef8ec869102134ca81f0d7e50271c8672161551ceb82931e68e71cad7bfdc8a62d37e4414aea04dc529df8fc9711ee5d2302d3ed2e43

test:
  secret_key_base: b15b826d1ef05e74cf06c301b16bdf5599e4e5420a816a05c4d751548fce2dd5158c8e0b3f6074b6aaaf7b8d496b19ae39aa683a89139071d0900c48719cc15b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
