<div id="iosEngagementPage" class="chartPage" data-ng-controller="ChartsCtrl as chartsCtrl">
  <div class="page page-table" data-ng-controller="TableCtrl">
    <section class="panel panel-default table-dynamic">
      <header class="page-main-header ng-scope">
        <div class="row">
          <div class="col-md-6">
            <h4>
              iOS Apps by # of Active Users
            </h4>
          </div>
        </div>
      </header>
      <div class="panel-heading" id="dashboardResultsTableHeading">
       <strong><i class="fa fa-list panel-ico"></i>Results</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="numApps">| Displaying {{appsDisplayedCount()}} of {{numApps | number}}</span>
        
        <a class="btn btn-primary pull-right export-btn" ng-class="{disabled: !chartsCtrl.CSVUrl()}" target="_blank" ng-if="canViewExports" ng-href="{{chartsCtrl.CSVUrl()}}">Export All to CSV</a>
        <a class="btn btn-primary pull-right export-btn" data-toggle="modal" data-target="#exportPermissions" ng-if="!canViewExports">Export All to CSV</a>
        
        <span class="ui-select pull-right">
          <select id="addSelectedToDropDown" ng-model="$root.addSelectedToDropdown" ng-change="addSelectedTo(addSelectedToDropdown, $root.selectedAppsForList)" ng-disabled="$root.selectedAppsForList < 1">
            <option value="">Add Selected to List</option>
            <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
          </select>
        </span>
      </div>

      <div id="results-table-wrapper" data-ng-controller="ListCtrl">

        <table class="table table-bordered table-striped table-responsive">
          <thead>
          <tr>
            <th class="selectAllCheckboxHeader">
              <select-all-checkbox apps="apps" num-apps="numApps"></select-all-checkbox>
            </th>
            <th class="resultsTableAppIcon"><div class="th">
              App Name
            </div></th>
            <th class="resultsTableAppPublisher"><div class="th">
              Publisher
            </div></th>
            <th><div class="th normal-right-padding">
              Category
            </div></th>
            <th><div class="th">
              Daily Active Users
              <span class="glyphicon glyphicon-chevron-up"
                    data-ng-click="sortApps('daily_active_users_num', 'asc') "
                    ng-class="{active: rowSort == 'daily_active_users_num'}"></span>
              <span class="glyphicon glyphicon-chevron-down"
                    data-ng-click="sortApps('daily_active_users_num', 'desc') "
                    ng-class="{active: rowSort == '-daily_active_users_num'}"></span>
            </div></th> 
            <th><div class="th">
              Weekly Active Users
              <span class="glyphicon glyphicon-chevron-up"
                    data-ng-click="sortApps('weekly_active_users_num', 'asc') "
                    ng-class="{active: rowSort == 'weekly_active_users_num'}"></span>
              <span class="glyphicon glyphicon-chevron-down"
                    data-ng-click="sortApps('weekly_active_users_num', 'desc') "
                    ng-class="{active: rowSort == '-weekly_active_users_num'}"></span>
            </div></th> 
            <th><div class="th">
              Monthly Active Users
              <span class="glyphicon glyphicon-chevron-up"
                     data-ng-click="sortApps('monthly_active_users_num', 'asc') "
                     ng-class="{active: rowSort == 'monthly_active_users_num'}"></span>
              <span class="glyphicon glyphicon-chevron-down"
                     data-ng-click="sortApps('monthly_active_users_num', 'desc') "
                     ng-class="{active: rowSort == '-monthly_active_users_num'}"></span>
            </div></th> 
          </tr>
          </thead>

          <tbody data-ng-hide="isLoading">
            <tr data-ng-repeat="app in apps" class="{{app.appAvailable ? '' : 'faded'}}">
              <td class="dashboardTableDataCheckbox">
                <checkable-checkbox app="app" apps="apps"></checkable-checkbox>
              </td>
              <td class="resultsTableAppIcon">
                <span>
                  <a href="#/app/ios/{{app.id}}" ng-click="onIosEngagementAppClick(app)">
                    <img ng-src="{{app.icon}}" />
                    {{app.name}}
                    <i ng-if="app.price" class="fa fa-2 fa-usd"></i>
                  </a>
                </span>
                <span class="badge badge-primary" ng-if="$root.appIsNew(app)">New</span>
              </td>
              <td class="resultsTableAppPublisher"><a ng-if="app.publisher.name" href="#/publisher/ios/{{app.publisher.id}}">{{app.publisher.name}}</a></td>
              <td>{{app.categories.join(', ')}}</td>
              <td>
                {{app.dau}}
              </td>
              <td>
                {{app.wau}}
              </td>
              <td>
                {{app.mau}}
              </td>
            </tr>
          </tbody>
        </table>
        <div id="dashboardTableStatusMessage" data-ng-show="numApps == 0 || isLoading">
          <h5 data-ng-hide="numApps > 0 || isLoading">No Results</h5>
          <div data-ng-show="isLoading" id="wrap_spinner">
            <div class="loading outer">
              <div class="loading inner"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <aside><list-create></list-create></aside>
  <aside><export-permissions></export-permissions></aside>
</div>

