<div id="wrap_spinner" ng-if="!app.appFetchComplete">
  <div class="loading outer">
    <div class="loading inner"></div>
  </div>
</div>
<div ng-if="app.appFetchComplete">
  <header class="page-main-header ng-scope">
    <div class="row">
      <div class="col-md-1" id="appPageLogoBox">
        <img ng-src="{{app.icon}}" id="appDetailsPageAppLogo" />
      </div>
      <div class="col-md-6">
        <h4>
          {{app.name}}
        </h4>
        <p>
          <a ng-if="app.publisher.id" ui-sref="publisher.info({ id: app.publisher.id, platform: app.platform })">{{app.publisher.name}}</a>
          <span ng-if="!app.publisher.id">{{app.publisher.name}}</span>
        </p>
        <div class="app-details">
          <div>
            <i class="icon fa fa-usd"></i>
            <span ng-if="!app.price">Free</span>
            <span ng-if="app.price">{{(app.price / 100.0) | isoCurrency:app.currency}}</span>
          </div>
          <div ng-if="app.categories.length > 0">
            <i class="icon fa fa-tag header-category-tag"></i>
            <span ng-repeat="category in app.categories">{{category}}{{$last ? '' : ', '}}</span>
          </div>
          <div ng-if="app.rating && app.rating.count > 0">
            <span
            class="app-rating"
            ng-class="{ 'header-rating': app.platform == 'ios' && app.ratings.length > 1 }"
            star-rating
            max="5"
            ng-model="app.rating.rating"
            uib-popover-template="'ratingTemplate.html'"
            popover-placement="auto right"
            popover-trigger="mouseenter"
            popover-class="adjust-width"
            popover-enable="app.platform == 'ios' && app.ratings.length > 1"
            ></span>
            <div
            class="rating-count"
            ng-class="{ 'header-rating': app.platform == 'ios' && app.ratings.length > 1 }"
            uib-popover-template="'ratingsCountTemplate.html'"
            popover-placement="auto right"
            popover-trigger="mouseenter"
            popover-class="adjust-width"
            popover-enable="app.platform == 'ios' && app.ratings.length > 1">
            Based on {{app.rating.count | number}}
            <div ng-if="app.platform == 'ios'" class="rating-flag flag flag-{{app.rating.country_code.toLowerCase()}}"></div>
            ratings
            </div>
          </div>
          <div ng-if="!app.rating.count || app.rating.count == 0">
            <i class="icon fa fa-star header-category-tag"></i>
            No ratings
          </div>
        </div>
      </div>
      <div class="" id="appTypeHeaderLogo">
        <button type="button" class="btn btn-primary" name="button" ng-click="app.openAppStorePage()">
          View in <span ng-class="{ 'fa fa-apple': app.platform == 'ios', 'fa fa-android': app.platform == 'android'}"></span> store
        </button>
      </div>
    </div>
  </header>
  <!-- <ul class="nav nav-tabs nav-justified" ng-if="app.adSpend">
    <li class="uib-tab nav-item" ng-repeat="tab in app.tabs" ui-sref="{{tab.route}}" ui-sref-active="active">
      <a class="nav-link">
        <uib-tab-heading>
          <span ng-bind-html="tab.title"></span>
        </uib-tab-heading>
      </a>
    </li>
  </ul> -->
  <ui-view></ui-view>

  <!-- Modals -->
  <aside ng-include="'views/modals/salesforce-export.html'"></aside>
  <aside><list-create></list-create></aside>
  <aside><export-permissions></export-permissions></aside>
  <aside ng-include="'apps/views/popover-templates.html'"></aside>

</div>
