<div id="newestChartPage" data-ng-controller="ChartCtrl as chartCtrl">

  <header class="page-main-header ng-scope">
    <div class="row">
      <div class="col-md-12">
        <h4>
          Newest iOS Apps
        </h4>
      </div>
    </div>
  </header>

  <div class="row companyPageRow">
    <div class="page page-table" data-ng-controller="TableCtrl">

      <!-- Company Apps Table -->
      <section class="panel panel-default table-dynamic" data-ng-controller="ListCtrl">

        <div class="panel-heading" id="listViewTableHeading">
          <strong><i class="fa fa-list panel-ico"></i>Newest iOS Apps</strong> <span id="dashboardResultsTableHeadingNumDisplayed" ng-if="numApps">| Displaying 1 - {{numApps}} of {{numApps}}</span>
          <button type="submit" class="btn btn-primary pull-right" ng-click="chartCtrl.exportListToCsv()">Export All to CSV</button>
          <span class="ui-select pull-right">
            <select id="addSelectedToDropDown" ng-model="addSelectedToDropdown" ng-change="addMixedSelectedTo(addSelectedToDropdown, selectedAppsForList)" ng-disabled="selectedAppsForList < 1">
              <option value="">Add Selected to List</option>
              <option ng-repeat="option in $root.usersLists" value="{{option.id}}">{{option.name}}</option>
            </select>
          </span>
        </div>

        <div id="results-table-wrapper">

          <table id="companyDetailsTable" class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
              <th class="selectAllCheckboxHeader">
                <select-all-checkbox-two apps="apps" selected-apps-for-list="selectedAppsForList"></select-all-checkbox-two>
              </th>
              <th><div class="th normal-right-padding">
                App Name
                <!--
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" sortApps('appName', 'ASC') "
                                      data-ng-class="{active: row == 'appName'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" sortApps('appName', 'DESC') "
                                      data-ng-class="{active: row == '-appName'}"></span>
                -->
              </div></th>
              <th><div class="th normal-right-padding appDetailsHeader">
                App Type
              </div></th>
              <th><div class="th normal-right-padding">
                Mobile Priority
              </div></th>
              <th ng-show="canViewAdSpend"><div class="th normal-right-padding">
                Ad Spend
              </div></th>
              <th><div class="th normal-right-padding">
                User Base Size
              </div></th>
              <th><div class="th normal-right-padding">
                Categories

              </div></th>
              <th ng-show="canViewSupportDesk"><div class="th normal-right-padding">
                Support Desk
              </div></th>
              <th><div class="th normal-right-padding">
                Last Updated
                <!--
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" sortApps('lastUpdated', 'ASC') "
                                      data-ng-class="{active: row == 'lastUpdated'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" sortApps('lastUpdated', 'DESC') "
                                      data-ng-class="{active: row == '-lastUpdated'}"></span>
                -->
              </div></th>
            </tr>
            </thead>

            <tbody data-ng-hide="queryInProgress">
            <tr data-ng-repeat="app in apps">
              <td class="dashboardTableDataCheckbox">
                <checkable-checkbox-two app="app" apps="apps" selected-apps-for-list="selectedAppsForList"></checkable-checkbox-two>
              </td>
              <td class="resultsTableAppIcon">
                <span>
                  <img ng-src="{{app.appIcon.large}}" /> <a href="#/app/{{app.type == 'IosApp' ? 'ios' : 'android'}}/{{app.id}}">{{app.name}}</a>
                </span>
              </td>
              <td class="appTypeIndicator">
                <i class="fa fa-2" ng-class="app.type == 'IosApp' ? 'fa-apple' : 'fa-android'"></i>
              </td>
              <td class="dashboardMobilePriorityView">
                <i ng-if="app.mobilePriority" class="fa fa-circle" ng-class="'status-' + app.mobilePriority"></i>{{app.mobilePriority | capitalize}}
              </td>
              <td class="dashboardAdSpendView" ng-show="canViewAdSpend">
                <i class="fa fa-circle" ng-class="'status-' + app.adSpend"></i>{{app.adSpend ? 'Yes' : 'No'}}
              </td>
              <td>{{app.userBase | capitalize}}</td>
              <td>{{app.categories.join(', ')}}</td>
              <td ng-show="canViewSupportDesk">{{app.supportDesk | supportDeskName}}</td>
              <td>{{app.lastUpdated | date : 'shortDate'}}</td>
            </tr>
            </tbody>
          </table>
          <div id="dashboardTableStatusMessage" data-ng-show="queryInProgress || !(apps.length > 0)">
            <h5 data-ng-hide="apps.length > 0 || queryInProgress">No Items</h5>
            <div data-ng-show="queryInProgress" id="wrap_spinner">
              <div class="loading outer">
                <div class="loading inner"></div>
              </div>
            </div>
          </div>

        </div>

    </div>

    </section>

  </div>

  <!-- Modals -->
  <aside ng-include="'/app/app/views/modals/list-create.html'"></aside>
  <aside ng-include="'/app/app/views/modals/list-delete.html'"></aside>
  <aside ng-include="'/app/app/views/modals/list-delete-selected.html'"></aside>

</div>
