/*.ui-widget-header {
            background: #cedc98;
            border: 1px solid #DDDDDD;
            color: #333333;
            font-weight: bold;
}

#progressbar-2 {
  height: 50px;
}*/

#progressBar {
        width: 300px;
        height: 22px;
        border: 1px solid #111;
        background-color: #E0E0E0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
}
 
#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
}

#curious {
  margin-top: 50px;
  margin-bottom: 30px;
}