<div class="page-signin" data-ng-controller="LoginCtrl">
    <main id="signin-main">
        <aside id="signin-aside">
            <section>
                <img ng-src="images/mighty_signal_logo.png" class="login-logo"></img>
                <div>
                    <p ng-if="message" ng-bind-html="message" class="message {{redMessage ? 'red' : nil}}"></p>
                    <button class="signin-button" ng-click="authenticate('google')" ng-if="!showEmailLogin">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        Log In Using Google
                    </button>
                    <button class="signin-button" ng-click="authenticate('linkedin')" ng-if="!showEmailLogin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        Log In Using LinkedIn
                    </button>
                    <p>Trouble logging in?&nbsp<a href="mailto:support@mightysignal.com">E-mail us</a></p>
                </div>
            </section>
        </aside>
        <section>
            <img src="../../../images/mighty_signal_logo_elephant_white.svg" class="elephant"></img>
            <div id="particles-js" class="particles"></div>
        </section>
    </main>
    <div ng-if="!token && showEmailLogin">
        <form class="form-horizontal" ng-enter="onLoginButtonClick()">
            <fieldset>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        <input type="email"
                                class="form-control"
                                placeholder="Email"
                                ng-model="user.email"
                                >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password"
                                class="form-control"
                                placeholder="Password"
                                ng-model="user.password"
                                >
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group btn-row">
                    <button ng-click="toggleEmailLogin()" class="btn btn-primary btn-lg">Go Back</button>
                    <button id="user-login-button" class="btn btn-primary btn-lg" ng-click="onLoginButtonClick()">Log in</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
particlesJS("particles-js", {
    "particles": {
        "number": {"value": 80, "density": {"enable": true, "value_area": 800}},
        "color": {"value": "#88bcd6"},
        "shape": {
            "type": "circle",
            "stroke": {"width": 2, "color": "#88bcd6"},
            "polygon": {"nb_sides": 5},
            "image": {"src": "img/github.svg", "width": 100, "height": 100}
        },
        "opacity": {
            "value": 0.5,
            "random": false,
            "anim": {"enable": false, "speed": 1, "opacity_min": 0.1, "sync": false}
        },
        "size": {
            "value": 3,
            "random": true,
            "anim": {"enable": false, "speed": 40, "size_min": 0.1, "sync": false}
        },
        "line_linked": {"enable": true, "distance": 228, "color": "#88bcd6", "opacity": 0.4, "width": 1},
        "move": {
            "enable": true,
            "speed": 3,
            "direction": "none",
            "random": false,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {"enable": false, "rotateX": 600, "rotateY": 1200}
        }
    },
    "interactivity": {
        "detect_on": "canvas",
        "events": {
            "onhover": {"enable": false, "mode": "grab"},
            "onclick": {"enable": false, "mode": "repulse"},
            "resize": true
        },
        "modes": {
            "grab": {"distance": 150, "line_linked": {"opacity": 1}},
            "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
            "repulse": {"distance": 80, "duration": 40},
            "push": {"particles_nb": 4},
            "remove": {"particles_nb": 2}
        }
    },
    "retina_detect": true
});
</script>