<div class="list-item page-preview">

    <%= link_to truncate(page.fields.maintitle, length: 40), buttercms_case_study_path(page.data.slug), class: "header" %>

  <div class="interviewed-person">
    <span> Interviewed person: <%= page.fields.interviewedpersonname %></span>
  </div>

  <div class="read-more">
    <span><%= truncate(strip_tags(page.fields.casestudybody), length: 510) %></span>
    <%= link_to "Read more", buttercms_case_study_path(page.data.slug), class: "link" %>
  </div>

</div>
