article
  .case-study-page
    .title-body
      h1.title
        = @case_study_page.fields.seo_title
      h2.sub-title
        = @case_study_page.fields.interviewed_person_title
      p.company
        | Company: #{@case_study_page.fields.company_name}
      p.interviewed-person
        | Interviewed person: #{@case_study_page.fields.interviewed_person_name}
    .body
      - unless @case_study_page.fields.case_study_quote.blank?
        p.quote
          = @case_study_page.fields.case_study_quote
      .main-column
        = @case_study_page.fields.case_study_body.gsub(/\n/, '<br />').html_safe
        = link_to "Download PDF", @case_study_page.fields.pdf_doc, :class => "download-btn"
        .wide-wrapper
          = render 'buttercms/newsletter'
          = render 'buttercms/request_demo'
