.popover-scroll {
  max-height: 500px;
  overflow: scroll;
  width: 200px;
}

.permissions-wrapper {
  display: flex;

  .permissions-label {
    display: flex;
    flex: 1;
    max-width: 201px;
  }

  .permissions-thing {
    flex: 2;
    margin-left: 5px;

    span {
      display: inline-block;
    }
  }
}

.app-rank-table {
  max-height: 400px;
}

.rankings-filter-container {
  display: flex;
}

.rankings-tab-country-select {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 500px !important;
}

.rankings-tab-category-select {
  height: 38px;
  margin-bottom: 10px;
  width: 200px !important;
}
