@import '../../../styles/colors';
@import '../../../styles/mixins';

.explore-page {
  %button-wrapper-override {
    color: inherit;
    font-family: inherit;
    margin: 10px 10px 0 0;
  }

  .ant-checkbox-wrapper {
    @extend %button-wrapper-override;
  }

  .ant-radio-wrapper {
    @extend %button-wrapper-override;
  }

  .ant-radio-button-wrapper {
    border-radius: 0;
  }

  .ant-btn.btn.btn-primary {
    color: $white;
  }

  .ant-select-selection {
    border-radius: 0;
  }

  .ant-btn {
    border-radius: 0;
  }

  .ant-input {
    border-radius: 0;
  }

  .ant-input-number {
    border-radius: 0;
  }
}
