@import '../../../styles/colors';
@import '../../../styles/mixins';

.explore-search-form {
  .panel-filters {
    li {
      padding: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid $light-grey-border;
      }

      input[type='checkbox'], input[type='radio'] {
        margin-right: 5px;
      }
    }
  }

  .filter-label {
    margin: 0 15px 0 0;
    width: 35%;
  }

  .ui-select {
    margin: 0;
  }

  select {
    margin-right: 15px;
  }

  .input-group {
    display: inline-flex;
    flex-wrap: wrap;
    width: 60%;
  }

  .sdk-filter-group {
    border: 1px solid #daedf2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px;
    padding: 10px;

    .options-group {
      .ant-select {
        margin: 0 10px 10px 0;
      }

      .ant-calendar-picker {
        margin: 0 10px 10px 0;
      }

      .action-items {
        .anticon {
          cursor: pointer;
          float: right;
          font-size: 15px;
          margin-left: 5px;
          transition: .3s color;

          &:hover {
            color: $primary-blue;
          }
        }
      }

    }

    .sdk-select-option {
      .fa {
        margin-right: 5px;
      }
    }

    .sdk-categories {
      margin-top: 10px;

      .ant-select {
        margin-top: 10px;
      }
    }
  }

  .following {
    margin: 0 5px 10px;
  }

  .input-group {
    .options-group {
      margin-bottom: 10px;
    }
  }

  .li-select {
    width: 100%;

    &.categories {
      margin-bottom: 10px;
    }

    .ant-select {
      width: 100%;
    }

    li {
      padding: 0 20px 0 10px;
    }
  }

  .ad-date-options-group {
    margin-bottom: 5px;

    .ant-select {
      margin: 0 10px;
    }
  }

  .input-group.network-count {
    .ant-select {
      margin: 0 5px;
    }
  }
}
