@import '../../../styles/colors';

.explore-page {
  .page-title {
    &.explore-title {
      border: 0;
      font-size: 20px;
      margin-bottom: 10px;
      margin-left: 15px;
    }
  }

  .panel-title {
    .fa {
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      transition: color .3s;

      &:hover {
        color: $primary-blue;
      }
    }

    .filter-count-label {
      cursor: default;
      font-weight: 500;
      margin-left: 10px;
    }
  }

 .panel-heading {
    cursor: pointer;
    min-height: 35px;
  }

  .drop-up .Select-menu-outer {
    top: auto;
    bottom: 100%;
  }

  .table-container {
    position: relative;

    .scroll-anchor {
      width: 100%;
      height: 500px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -50;
    }
  }
}

.save-search-modal {
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .modal-title {
    border: 0;
    padding: 0;
  }

  .modal-footer {
    border-top: 0;
    padding-top: 0;
  }
}
