<div class="panel panel-default">
  <div class="panel-heading"><strong>Ad Networks</strong></div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <table class="table ad-network-table">
          <thead>
            <tr>
              <th>Network</th>
              <th>First Seen</th>
              <th>Last Seen</th>
              <th>Formats</th>
              <th>Total Creatives</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="source in networks">
              <td class="creative-cell">
                <img ng-src="{{'images/' + source.id + '.png'}}" width="16px" height="16px">
                {{source.name}}
              </td>
              <td class="creative-cell">
                {{source.first_seen_ads_date | date : shortDate}}
              </td>
              <td class="creative-cell">
                {{source.last_seen_ads_date | date : shortDate}}
              </td>
              <td>
                <span ng-if="source.creative_formats.length" ng-repeat="format in source.creative_formats">
                  <span format-icon format="format"></span>
                </span>
                <span ng-if="!source.creative_formats.length">None</span>
              </td>
              <td>
                {{source.number_of_creatives}}
                <span
                  ng-if="source.number_of_creatives == 0"
                  class="fa fa-question-circle"
                  popover-append-to-body="true"
                  popover-placement="auto right"
                  uib-popover="In some cases we detect an ad and identify the advertised app, but are unable to extract the creative."
                  popover-title="Why no creatives?"
                  popover-trigger="mouseenter">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
